@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://fonts.googleapis.com/css?family=Noto+Sans";
@import "http://fonts.googleapis.com/earlyaccess/notosanssc.css";
*:not(i) {
  font-family: "Noto Sans", "Noto Sans CJK SC", "Noto Sans SC", sans-serif; }

input:disabled, textarea:disabled {
  color: black;
  background-color: inherit; }

.vertical-align .vertical-align-wrapper {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

.shadow {
  box-shadow: 3px 2px 9px grey; }

.normal, .normal input {
  background: white;
  font-size: 16px;
  display: block;
  height: 20px;
  padding: 0;
  position: relative; }
  .normal.underlined, .normal.underlined input, .normal input.underlined, .normal input.underlined input {
    border-bottom: 1px solid grey !important;
    transition: border-bottom .4s ease; }
    .normal.underlined:focus, .normal.underlined:active, .normal.underlined input:focus, .normal.underlined input:active, .normal input.underlined:focus, .normal input.underlined:active, .normal input.underlined input:focus, .normal input.underlined input:active {
      border-bottom: 1px solid #448AFF !important; }
  .normal.disabled, .normal:disabled, .normal input.disabled, .normal input:disabled {
    border-bottom-color: transparent !important; }

.hidden {
  display: none !important; }

.transparent {
  opacity: 0;
  pointer-events: none !important; }

.flex {
  display: flex; }
  .flex.column {
    flex-direction: column; }

.flex-last-item {
  width: 100%; }

.flex-extend-inner-wrapper {
  position: absolute;
  height: 100%;
  width: 100%; }

img.center {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.btn {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  height: 50px;
  width: 60px;
  font-weight: lighter;
  text-align: center;
  transition: .4s ease; }
  .btn:after {
    pointer-events: none;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    transition: background .4s ease; }
  .btn.underlined:after {
    background: black; }
  .btn.underlined.active:after, .btn.underlined:hover:after {
    background: #448AFF; }
  .btn.active, .btn:hover {
    color: #448AFF; }
  .btn:not(.underlined):hover .add-circle {
    opacity: 1; }
  .btn:not(.underlined):hover .original {
    opacity: 0; }
  .btn:not(.accent):hover, .btn:not(.accent):active {
    color: #1976D2; }
    .btn:not(.accent):hover span, .btn:not(.accent):active span {
      opacity: 1; }

.Calendar {
  height: 100%;
  max-height: 1000px; }
  .Calendar .calendar-table {
    display: flex; }
    .Calendar .calendar-table .month-list {
      flex: 0 0 50px;
      padding-right: 10px; }
    .Calendar .calendar-table .day-blocks {
      position: relative;
      flex: 0 0 auto;
      display: flex;
      width: 140px;
      flex-wrap: wrap;
      background: white;
      justify-content: space-around; }
      .Calendar .calendar-table .day-blocks .month-first:before {
        content: "month";
        position: absolute;
        left: -60px;
        width: 50px;
        text-align: right;
        padding-top: 20px; }
      .Calendar .calendar-table .day-blocks .month-0:before {
        color: #448AFF;
        font-weight: bold;
        content: "Jan"; }
      .Calendar .calendar-table .day-blocks .month-1:before {
        color: #448AFF;
        font-weight: bold;
        content: "Feb"; }
      .Calendar .calendar-table .day-blocks .month-2:before {
        color: #448AFF;
        font-weight: bold;
        content: "Mar"; }
      .Calendar .calendar-table .day-blocks .month-3:before {
        color: #448AFF;
        font-weight: bold;
        content: "Apr"; }
      .Calendar .calendar-table .day-blocks .month-4:before {
        color: #448AFF;
        font-weight: bold;
        content: "May"; }
      .Calendar .calendar-table .day-blocks .month-5:before {
        color: #448AFF;
        font-weight: bold;
        content: "Jun"; }
      .Calendar .calendar-table .day-blocks .month-6:before {
        color: #448AFF;
        font-weight: bold;
        content: "Jul"; }
      .Calendar .calendar-table .day-blocks .month-7:before {
        color: #448AFF;
        font-weight: bold;
        content: "Aug"; }
      .Calendar .calendar-table .day-blocks .month-8:before {
        color: #448AFF;
        font-weight: bold;
        content: "Sep"; }
      .Calendar .calendar-table .day-blocks .month-9:before {
        color: #448AFF;
        font-weight: bold;
        content: "Oct"; }
      .Calendar .calendar-table .day-blocks .month-10:before {
        color: #448AFF;
        font-weight: bold;
        content: "Nov"; }
      .Calendar .calendar-table .day-blocks .month-11:before {
        color: #448AFF;
        font-weight: bold;
        content: "Dec"; }
    .Calendar .calendar-table .first-padding-1 {
      flex: 0 0 calc(1 * 14.2857142857142857142857%);
      background: #f4f4f4; }
    .Calendar .calendar-table .first-padding-2 {
      flex: 0 0 calc(2 * 14.2857142857142857142857%);
      background: #f4f4f4; }
    .Calendar .calendar-table .first-padding-3 {
      flex: 0 0 calc(3 * 14.2857142857142857142857%);
      background: #f4f4f4; }
    .Calendar .calendar-table .first-padding-4 {
      flex: 0 0 calc(4 * 14.2857142857142857142857%);
      background: #f4f4f4; }
    .Calendar .calendar-table .first-padding-5 {
      flex: 0 0 calc(5 * 14.2857142857142857142857%);
      background: #f4f4f4; }
    .Calendar .calendar-table .first-padding-6 {
      flex: 0 0 calc(6 * 14.2857142857142857142857%);
      background: #f4f4f4; }
    .Calendar .calendar-table .last-padding {
      flex: 1;
      background: #f4f4f4; }
    .Calendar .calendar-table .day-block {
      background: white;
      height: 20px;
      flex: 0 0 calc(100% / 7);
      transition: background .4s ease; }
      .Calendar .calendar-table .day-block.last-seven .day-block-wrapper {
        border-bottom: 1px solid #bfbfbf;
        padding-top: calc(100% - 1px); }
      .Calendar .calendar-table .day-block.last-one .day-block-wrapper {
        border-right: 1px solid #bfbfbf;
        width: calc(100% - 1px); }
      .Calendar .calendar-table .day-block.accent-1 {
        background: #B2EBF2; }
      .Calendar .calendar-table .day-block.accent-2 {
        background: #80DEEA; }
      .Calendar .calendar-table .day-block.accent-3 {
        background: #4DD0E1; }
      .Calendar .calendar-table .day-block.accent-4 {
        background: #26C6DA; }
      .Calendar .calendar-table .day-block.accent-5 {
        background: #00BCD4; }
      .Calendar .calendar-table .day-block.accent-6 {
        background: #00ACC1; }
      .Calendar .calendar-table .day-block.accent-7 {
        background: #0097A7; }
      .Calendar .calendar-table .day-block.accent-8 {
        background: #00838F; }
      .Calendar .calendar-table .day-block.accent-9 {
        background: #006064; }
      .Calendar .calendar-table .day-block.triangle .day-block-wrapper:after {
        content: "\25e5";
        position: absolute;
        right: 0;
        top: -2px;
        font-size: 7px; }
      .Calendar .calendar-table .day-block .day-block-wrapper {
        width: 100%;
        padding-top: 100%;
        position: relative; }
        .Calendar .calendar-table .day-block .day-block-wrapper .text {
          position: absolute;
          top: 0;
          left: 0; }

/*# sourceMappingURL=Calendar.css.map */
