@import "./bootstrap.scss";

.Calendar {
  $day-block-size: 20px;
  $day-block-margin: 1px;
  $month-list-width: 50px;

  $default-background-color: white;
  $padding-background-color: #f4f4f4;
  $day-block-border-color: #f4f4f4;
  $delimitor-border-color: #bfbfbf;

  height: 100%;
  max-height: 1000px; // todo maybe change this?

  .calendar-table {
    display: flex;

    .month-list {
      flex: 0 0 $month-list-width;
      padding-right: 10px;
    }

    .day-blocks {
      position: relative;
      flex: 0 0 auto;
      display: flex;
      width: $day-block-size * 7;
      flex-wrap: wrap;
      background: $default-background-color;
      justify-content: space-around;

      .month-first {
        &:before {
          content: "month";
          position: absolute;
          left: -$month-list-width - 10px;
          width: $month-list-width;
          text-align: right;
          padding-top: $day-block-size;
        }
      }

      $MONTH: ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");

      @for $i from 1 through 12 {
        .month-#{$i - 1}:before {
          color: $cp;
          font-weight: bold;
          content: nth($MONTH, $i);
        }
      }
    }

    @for $i from 1 through 6 {
      .first-padding-#{$i} {
        flex: 0 0 calc(#{$i} * 14.2857142857142857142857%);
        background: $padding-background-color;
      }
    }

    .last-padding {
      flex: 1;
      background: $padding-background-color;
    }

    .day-block {
      background: $default-background-color;
      height: $day-block-size;
      flex: 0 0 calc(100% / 7);
      transition: background .4s ease;

      &.last-seven .day-block-wrapper {
        border-bottom: 1px solid $delimitor-border-color;
        padding-top: calc(100% - 1px);
      }

      &.last-one .day-block-wrapper {
        border-right: 1px solid $delimitor-border-color;
        width: calc(100% - 1px);
      }

      @for $i from 1 through 9 {
        &.accent-#{$i} {
          background: nth($cs, $i);
        }
      }

      &.triangle .day-block-wrapper:after {
        content: "\25e5";
        position: absolute;
        right: 0;
        top: -2px;
        font-size: 7px;
      }

      .day-block-wrapper {
        width: 100%;
        padding-top: 100%;
        position: relative;

        .text {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}