$blue-light: #82B1FF;
$blue: #448AFF;
$blue-dark: #1976D2;

$scroll-bar-padding: 40px;

.vertical-align {

  .vertical-align-wrapper {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.no-scroll {
  $background-color: white;

  position: relative;
  overflow: hidden;
  background: $background-color;

  &.horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 20px;

    &:before, &:after {
      height: 100%;
      width: $scroll-bar-padding;
    }

    &:before {
      background: linear-gradient(to right, $background-color 0, transparent 100%);
      left: 0;
    }

    &:after {
      background: linear-gradient(to left, $background-color 0, transparent 100%);
      right: 0;
    }

    .wrapper {
      bottom: 0px;
      height: $scroll-bar-padding;
      width: 100%;
    }

    > * {
      margin-left: 0;
    }

    > *:first-child {
      margin-left: $scroll-bar-padding;
    }

    > *:last-child {
      margin-right: $scroll-bar-padding;
    }
  }

  &:before, &:after {
    position: absolute;
    width: 100%;
    height: $scroll-bar-padding;
    content: "";
    left: 0;
  }

  &:before {
    background: linear-gradient(to bottom, $background-color 0, transparent 100%);
    top: 0;
  }

  &:after {
    background: linear-gradient(to top, $background-color 0, transparent 100%);
    bottom: 0;
  }

  .wrapper {
    position: absolute;
    right: 0;
    height: 100%;
    width: $scroll-bar-padding;
    background: white;
  }

  .no-scroll-wrapper {
    background: $background-color;
    padding-right: 20px;
    padding-top: $scroll-bar-padding;
    padding-bottom: $scroll-bar-padding;
  }
}

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.shadow {
  box-shadow: 3px 2px 9px grey;

}