@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://fonts.googleapis.com/css?family=Noto+Sans:100,400,700";
@import "http://fonts.googleapis.com/earlyaccess/notosanssc.css";
@import "color.scss";

$stats-width: 200px;
$title-height: 40px;
$editor-padding: 50px;
$full-width: calc(100vw - #{$editor-padding * 2});
$button-width: 120px;
$button-height: 50px;

.Editor {
  // todo remove this later
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: $editor-padding;

  * {
  }

  input, textarea, a {
    font-family: "Noto Sans", "Noto Sans CJK SC", "Noto Sans SC", sans-serif;
  }

  input, textarea {
    border: none;
    resize: none;
    font-size: 30px;
    padding: 20px;

    &:active, &:focus {
      outline: none;
    }
  }

  .header {
    flex: 0 1 auto;
    margin: 50px 0px 20px 0px;
    border-bottom: 1px solid grey;
    width: $full-width;
    $child-margin-top: 20px;

    .title {
      margin-top: $child-margin-top;
      padding-top: 0;
      padding-bottom: 30px;
      display: inline-block;
      height: 40px;
    }

    .stats {
      margin-top: $child-margin-top;

      $stats-height: 20px;
      padding: ($title-height - $stats-height)/2 20px;
      display: inline-block;
      float: right;
      color: grey;
      font-size: 18px;
      height: $stats-height;

      .stat {
        display: inline-block;
        margin-left: 20px;
        height: 100%;
        vertical-align: top;
        overflow: hidden;
        text-align: right;
        transition: .4s ease;
        white-space: nowrap;
      }

      .chars {
        width: 5ch;
        margin-left: 20px;
      }

      .elapsed, .times {
        width: 0;
        margin-left: 0;
      }

      .times.time {
        width: 100%;
      }

      &:hover {
        .elapsed {
          width: 6ch;
          margin-left: 20px;
        }

        .times {
          width: 12ch;
          margin-left: 20px;
        }
      }
    }
  }

  .text-body-wrapper {
    width: $full-width;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
  }

  .text-body {
    flex: 1 1 auto;
    font-size: 25px;
    width: 100%;
    font-weight: lighter;
    padding-left: 0;
    height: calc(100% - #{$scroll-bar-padding * 2});
  }

  .buttons {
    width: $full-width;
    text-align: right;
    flex: 0 1 $button-height;

    .btn {
      display: inline-block;
      text-transform: uppercase;
      width: $button-width;
      height: $button-height;
      font-weight: lighter;
      color: white;
      background: $blue;
      text-align: center;

      span {
        transition: opacity .4s ease;
        opacity: 0;
        pointer-events: none;
      }

      &:hover {
        span {
          opacity: 1;
        }
      }
    }
  }
}
