@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://fonts.googleapis.com/css?family=Noto+Sans:100,400,700";
@import "http://fonts.googleapis.com/earlyaccess/notosanssc.css";
@import "bootstrap.scss";

$stats-width: 200px;
$title-height: 50px;
$editor-padding: 50px;
$full-width: calc(100vw - #{$editor-padding * 2});
$button-width-accent: 120px;

.Editor {
  width: calc(100% - #{2 * $editor-padding});
  height: calc(100% - #{2 * $editor-padding});
  display: flex;
  position: absolute;
  flex-flow: column;
  padding: $editor-padding;

  *:not(i) {
    font-family: "Noto Sans", "Noto Sans CJK SC", "Noto Sans SC", sans-serif;
  }

  input, textarea {
    border: none;
    resize: none;
    font-size: 30px;
    padding: 20px;

    &:active, &:focus {
      outline: none;
    }
  }

  header {
    flex: 0 1 auto;
    margin: 0px 0px 10px;
    width: $full-width;

    .title {
      padding-top: 0;
      display: inline-block;
      height: 40px;
      border-bottom: none !important;
    }

    .stats {
      $stats-height: 20px;
      padding: ($title-height - $stats-height)/2 20px;
      display: inline-block;
      float: right;
      color: grey;
      font-size: 18px;
      height: $stats-height;

      .stat {
        display: inline-block;
        margin-left: 20px;
        height: 100%;
        vertical-align: top;
        overflow: hidden;
        text-align: right;
        transition: .4s ease;
        white-space: nowrap;
      }

      .chars {
        width: 5ch;
        margin-left: 20px;
      }

      .elapsed, .times {
        width: 0;
        margin-left: 0;
      }

      .times.time {
        width: 100%;
      }

      &:hover {
        .elapsed {
          width: 6ch;
          margin-left: 20px;
        }

        .times {
          width: 12ch;
          margin-left: 20px;
        }
      }
    }

    .fullscreen {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .text-body-wrapper {
    width: $full-width;
    flex: 1 1 auto;
    position: relative;
    text-align: center;

    .text-body-wrapper-2 {
      position: absolute;
      height: 100%;
      padding: 0 50px;
      width: calc(100% - 100px);
    }
  }

  .text-body {
    flex: 1 1 auto;
    font-size: 25px;
    font-weight: lighter;
    padding-left: 0;
    height: calc(100% - #{$scroll-bar-padding * 2});
  }

  .extras {
    position: relative;
    background: white;
    z-index: 2;
    margin-top: 3px;

    &.extend {
      height: 100%;
      display: flex;
      flex-direction: column;

      .more-info {
        flex: 1 0 auto;
        position: relative;
      }
    }

    .buttons {
      justify-content: flex-end;
      display: flex;
      width: $full-width;
      text-align: right;
      flex: 0 1 $button-height * 2;
      flex-wrap: wrap;

      .tags-wrapper {
        $tag-font-size: 16px;

        text-align: left;
        flex: 1 1 auto;

        .tags {
          max-height: 30px;
        }

        .new-tag-wrapper {
          position: relative;
        }

        .tag {
          padding: 4px 12px;
          color: white;
          border-radius: 3px;
          margin: 2px 20px 2px 0;
          display: inline-block;
          font-size: $tag-font-size;
          transition: background .4s ease;

          .prediction {
            color: lightgrey;
            position: absolute;
          }

          &:not(.white-background) {
            background: $blue;

            &:hover {
              background: $blue-light;
            }
          }
        }

        .new-tag {
          background: transparent;
          font-size: $tag-font-size;
          display: inline-block;
          height: 20px;
          padding: 0;
          width: 100px;
        }
      }

      .send-wrapper {
        flex: 1 0 auto;
        text-align: right;
      }

      .btn {
        text-align: center;
        flex: 0 0 $button-width;

        &.accent {
          flex: 0 0 auto;
          width: $button-width-accent;
          color: white;
          background: $blue;
          margin-left: $button-width / 2;

          &:hover:not(:active) {
            background: $blue-light;
            color: white;
          }

          &:active {
            color: white;
          }
        }

        span {
          transition: opacity .4s ease;
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    .more-info {
      margin-top: 10px;
      width: inherit;
      //bottom: $button-height + $editor-padding;
      text-align: center;
      pointer-events: none;
      background: transparent;
      transition: .4s ease;

      &.hidden {
        height: 0;
        margin: 0;
        opacity: 0;
      }

      .photo-preview {
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        height: 100%;

        .photo-previewed-wrapper {
          width: 100%;
          flex: 1 0 auto;
          position: relative;

          .photo-wrapper {
            width: 100%;
            height: 100%;
          }
        }

        .photo-no-scroll {
          margin-top: 10px;
          flex: 0 0 auto;
          height: 105px;
        }
      }

      .more-info-wrapper {
        width: 100%;
        max-height: 275px;
        border-radius: 3px;
        pointer-events: auto;
        background: white;
        margin: 0;

        .icon {
          padding: 6px 0 0 6px;
          font-size: 18px;
          position: relative;
          pointer-events: auto;
          transition: color .4s ease;

          .material-icons {
            font-size: 18px;
          }

          &:hover {
            color: $blue;
          }
        }

        .vertical-align-wrapper {
          height: 100%;
        }
      }
    }

    .current-tags-wrapper {
      flex: 1 0 auto;
      width: calc(100% - #{$button-width});
    }

    .breaker {
      margin: 10px 10px;
      width: 1px;
      background: lightgrey;
    }

    .photos {
      text-align: left;
      display: block;

      .photo {
        height: 90px;
        padding: 0 2.5px;
        opacity: .5;
        display: none;
        transition: opacity .4s ease;

        &.selected {
          opacity: 1;
          display: inline-block;
        }
      }

      &.show-all {
        .photo:not(.selected) {
          display: inline-block;
        }
      }
    }

    input {
      font-size: 16px;
      display: block;
      padding: 5px;
      flex: 1 1 auto;
    }

    .music, .link, .movie {
      text-align: center;
      justify-content: center;
      display: flex;

      input {
        max-width: 30vw;
      }

      .title {
        text-align: right;
      }
    }

    .title, .by {
      max-width: 30vw;
    }

    .url {
      max-width: 40vw;
    }

    .movie input {
      max-width: 50vw;
    }

    .link {
      .text {
        padding: 5px 0px 1px 10px;
      }
    }

    $text-padding-left: 10px;
    .text {
      font-size: 15px;
      padding: 5px $text-padding-left 1px;
      color: $blue;
    }

    .other-wrapper {
      $other-prop-length: 400px;
      $other-prop-padding: 10px;
      $other-props-width: 2*$other-prop-length + 4*$other-prop-padding;
      $type-width: 120px;

      display: inline-block;
      padding: 5px 0;
      width: $other-props-width + $type-width;

      .other {
        display: flex;
      }

      .type-wrapper {
        flex: 0 0 $type-width;
        width: $type-width;
        background: $blue;
        color: white;
        position: relative;

        &.add {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            color: white;
            position: static;
            padding: 0;
            height: 18px;
          }
        }

        .type {
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          padding: 0;
          text-align: center;
        }

        .icon {
          position: absolute;
          top: -11px;
          right: -9px;
          color: black;
          padding: 0;

          &:hover {
            color: $blue-dark;
          }
        }
      }

      .other-props {
        display: block;
        width: $other-props-width;
        text-align: left;

        .other-prop {
          padding: $other-prop-padding/2 $other-prop-padding;
          width: $other-prop-length;
          display: inline-block;

          &.add .other-prop-wrapper {
            padding-left: $text-padding-left;
          }

          .other-prop-wrapper {
            display: flex;
          }

          .text {
            text-align: left;
            float: left;
            flex: 0 0 auto;
          }

          .normal {
            flex: 1 1 auto;

            &.new-key {
              flex: none;

              input {
                color: $blue;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }

  .shadow {
    $shadow-grey: #f2f2f2;

    width: 100%;
    background-color: $shadow-grey;
    position: relative;
    bottom: -2px;
    height: 1px;
  }
}
