@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://fonts.googleapis.com/css?family=Noto+Sans:100,400,700";
@import "http://fonts.googleapis.com/earlyaccess/notosanssc.css";
input:disabled, textarea:disabled {
  color: black;
  background-color: inherit; }

.vertical-align .vertical-align-wrapper {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

.shadow {
  box-shadow: 3px 2px 9px grey; }

.normal, .normal input {
  background: white;
  font-size: 16px;
  display: block;
  height: 20px;
  padding: 0;
  position: relative; }
  .normal.underlined, .normal.underlined input, .normal input.underlined, .normal input.underlined input {
    border-bottom: 1px solid grey !important;
    transition: border-bottom .4s ease; }
    .normal.underlined:focus, .normal.underlined:active, .normal.underlined input:focus, .normal.underlined input:active, .normal input.underlined:focus, .normal input.underlined:active, .normal input.underlined input:focus, .normal input.underlined input:active {
      border-bottom: 1px solid #448AFF !important; }
  .normal.disabled, .normal:disabled, .normal input.disabled, .normal input:disabled {
    border-bottom-color: transparent !important; }

.hidden {
  display: none !important; }

.transparent {
  opacity: 0;
  pointer-events: none !important; }

.Editor {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  display: flex;
  flex-flow: column;
  padding: 50px; }
  .Editor *:not(i) {
    font-family: "Noto Sans", "Noto Sans CJK SC", "Noto Sans SC", sans-serif; }
  .Editor input, .Editor textarea {
    border: none;
    resize: none;
    font-size: 30px;
    padding: 20px; }
    .Editor input:active, .Editor input:focus, .Editor textarea:active, .Editor textarea:focus {
      outline: none; }
  .Editor .header {
    flex: 0 1 auto;
    margin: 0px 0px 10px;
    width: calc(100vw - 100px); }
    .Editor .header .title {
      padding-top: 0;
      padding-bottom: 30px;
      display: inline-block;
      height: 40px;
      border-bottom: none !important; }
    .Editor .header .stats {
      padding: 15px 20px;
      display: inline-block;
      float: right;
      color: grey;
      font-size: 18px;
      height: 20px; }
      .Editor .header .stats .stat {
        display: inline-block;
        margin-left: 20px;
        height: 100%;
        vertical-align: top;
        overflow: hidden;
        text-align: right;
        transition: .4s ease;
        white-space: nowrap; }
      .Editor .header .stats .chars {
        width: 5ch;
        margin-left: 20px; }
      .Editor .header .stats .elapsed, .Editor .header .stats .times {
        width: 0;
        margin-left: 0; }
      .Editor .header .stats .times.time {
        width: 100%; }
      .Editor .header .stats:hover .elapsed {
        width: 6ch;
        margin-left: 20px; }
      .Editor .header .stats:hover .times {
        width: 12ch;
        margin-left: 20px; }
  .Editor .text-body-wrapper {
    width: calc(100vw - 100px);
    flex: 1 1 auto;
    position: relative;
    text-align: center; }
    .Editor .text-body-wrapper .text-body-wrapper-2 {
      position: absolute;
      height: 100%;
      padding: 0 50px;
      width: calc(100% - 100px); }
  .Editor .text-body {
    flex: 1 1 auto;
    font-size: 25px;
    font-weight: lighter;
    padding-left: 0;
    height: calc(100% - 80px); }
  .Editor .extras {
    position: relative;
    background: white;
    z-index: 2;
    margin-top: 3px; }
    .Editor .extras .buttons {
      display: flex;
      width: calc(100vw - 100px);
      text-align: right;
      flex: 0 1 50px; }
      .Editor .extras .buttons .tags-wrapper {
        text-align: left;
        flex: 1 1 auto; }
        .Editor .extras .buttons .tags-wrapper .tags {
          max-height: 30px; }
        .Editor .extras .buttons .tags-wrapper .new-tag-wrapper {
          position: relative; }
        .Editor .extras .buttons .tags-wrapper .tag {
          padding: 4px 12px;
          color: white;
          border-radius: 3px;
          margin: 2px 20px 2px 0;
          display: inline-block;
          font-size: 16px;
          transition: background .4s ease; }
          .Editor .extras .buttons .tags-wrapper .tag .prediction {
            color: lightgrey;
            position: absolute; }
          .Editor .extras .buttons .tags-wrapper .tag:not(.white-background) {
            background: #448AFF; }
            .Editor .extras .buttons .tags-wrapper .tag:not(.white-background):hover {
              background: #82B1FF; }
        .Editor .extras .buttons .tags-wrapper .new-tag {
          background: transparent;
          font-size: 16px;
          display: inline-block;
          height: 20px;
          padding: 0;
          width: 100px; }
      .Editor .extras .buttons .btn {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        height: 50px;
        font-weight: lighter;
        text-align: center;
        flex: 0 0 60px;
        transition: .4s ease; }
        .Editor .extras .buttons .btn.accent {
          flex: 0 0 auto;
          width: 120px;
          color: white;
          background: #448AFF;
          margin-left: 30px; }
          .Editor .extras .buttons .btn.accent:hover:not(:active) {
            background: #82B1FF;
            color: white; }
          .Editor .extras .buttons .btn.accent:active {
            color: white; }
        .Editor .extras .buttons .btn:after {
          pointer-events: none;
          content: "";
          width: 100%;
          height: 4px;
          position: absolute;
          z-index: 100;
          bottom: 0;
          left: 0;
          transition: background .4s ease; }
        .Editor .extras .buttons .btn.attached:after {
          background: black; }
        .Editor .extras .buttons .btn.attached.active:after, .Editor .extras .buttons .btn.attached:hover:after {
          background: #448AFF; }
        .Editor .extras .buttons .btn.active, .Editor .extras .buttons .btn:hover {
          color: #448AFF; }
        .Editor .extras .buttons .btn span {
          transition: opacity .4s ease;
          opacity: 0;
          pointer-events: none; }
        .Editor .extras .buttons .btn .material-icons {
          transition: opacity .4s ease; }
          .Editor .extras .buttons .btn .material-icons:nth-child(3) {
            opacity: 0;
            position: relative;
            bottom: 50px;
            top: 0; }
        .Editor .extras .buttons .btn .original {
          opacity: 1; }
        .Editor .extras .buttons .btn:not(.attached):hover .add-circle {
          opacity: 1; }
        .Editor .extras .buttons .btn:not(.attached):hover .original {
          opacity: 0; }
        .Editor .extras .buttons .btn:not(.accent):hover, .Editor .extras .buttons .btn:not(.accent):active {
          color: #1976D2; }
          .Editor .extras .buttons .btn:not(.accent):hover span, .Editor .extras .buttons .btn:not(.accent):active span {
            opacity: 1; }
        .Editor .extras .buttons .btn.send-edit.edit .send {
          opacity: 0; }
        .Editor .extras .buttons .btn.send-edit.edit .edit {
          opacity: 1; }
    .Editor .extras .more-info {
      margin-top: 10px;
      width: inherit;
      text-align: center;
      pointer-events: none;
      background: transparent;
      transition: .4s ease; }
      .Editor .extras .more-info.hidden {
        height: 0;
        margin: 0;
        opacity: 0; }
      .Editor .extras .more-info .more-info-wrapper {
        width: 100%;
        max-height: 275px;
        border-radius: 3px;
        pointer-events: auto;
        background: white;
        margin: 0; }
        .Editor .extras .more-info .more-info-wrapper .icon {
          padding: 6px 0 0 6px;
          font-size: 18px;
          position: relative;
          pointer-events: auto;
          transition: color .4s ease; }
          .Editor .extras .more-info .more-info-wrapper .icon .material-icons {
            font-size: 18px; }
          .Editor .extras .more-info .more-info-wrapper .icon:hover {
            color: #448AFF; }
        .Editor .extras .more-info .more-info-wrapper .vertical-align-wrapper {
          height: 100%; }
    .Editor .extras .photos {
      text-align: left;
      display: block; }
      .Editor .extras .photos .photo {
        height: 90px;
        padding: 0 2.5px;
        opacity: .5;
        display: none;
        transition: opacity .4s ease; }
        .Editor .extras .photos .photo.selected {
          opacity: 1;
          display: inline-block; }
      .Editor .extras .photos.show-all .photo:not(.selected) {
        display: inline-block; }
    .Editor .extras input {
      font-size: 16px;
      display: block;
      padding: 5px;
      flex: 1 1 auto; }
    .Editor .extras .music, .Editor .extras .link, .Editor .extras .movie {
      text-align: center;
      justify-content: center;
      display: flex; }
      .Editor .extras .music input, .Editor .extras .link input, .Editor .extras .movie input {
        max-width: 30vw; }
      .Editor .extras .music .title, .Editor .extras .link .title, .Editor .extras .movie .title {
        text-align: right; }
    .Editor .extras .title, .Editor .extras .by {
      max-width: 30vw; }
    .Editor .extras .url {
      max-width: 40vw; }
    .Editor .extras .movie input {
      max-width: 50vw; }
    .Editor .extras .link .text {
      padding: 5px 0px 1px 10px; }
    .Editor .extras .text {
      font-size: 15px;
      padding: 5px 10px 1px;
      color: #448AFF; }
    .Editor .extras .other-wrapper {
      display: inline-block;
      padding: 5px 0;
      width: 940px; }
      .Editor .extras .other-wrapper .other {
        display: flex; }
      .Editor .extras .other-wrapper .type-wrapper {
        flex: 0 0 100px;
        width: 100px;
        background: #448AFF;
        color: white;
        position: relative; }
        .Editor .extras .other-wrapper .type-wrapper.add {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .Editor .extras .other-wrapper .type-wrapper.add .icon {
            position: relative;
            padding: 0;
            height: 18px; }
        .Editor .extras .other-wrapper .type-wrapper .type {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          padding: 0;
          text-align: center; }
        .Editor .extras .other-wrapper .type-wrapper .icon {
          position: absolute;
          top: 0;
          right: 0;
          padding: 11px 6px; }
          .Editor .extras .other-wrapper .type-wrapper .icon:hover {
            color: #82B1FF; }
      .Editor .extras .other-wrapper .other-props {
        display: block;
        width: 840px;
        text-align: left; }
        .Editor .extras .other-wrapper .other-props .other-prop {
          padding: 5px 10px;
          width: 400px;
          display: inline-block; }
          .Editor .extras .other-wrapper .other-props .other-prop .other-prop-wrapper {
            display: flex; }
          .Editor .extras .other-wrapper .other-props .other-prop .text {
            text-align: left;
            float: left;
            flex: 0 0 auto; }
          .Editor .extras .other-wrapper .other-props .other-prop .normal {
            flex: 1 1 auto; }
  .Editor .shadow {
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
    bottom: -2px;
    height: 1px; }

/*# sourceMappingURL=Editor.css.map */
