@import "./bootstrap.scss";

.EntryList {
  $timeline-width: 50px;

  height: 100%;
  width: 100%;

  .entries {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .time {
    font-size: 12px;
    text-align: center;
  }

  .details {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .article-list {
    flex: 0 0 30%;
    margin-right: $timeline-width;
    position: relative;

    article {
      $article-margin: 30px;
      $detail-padding: 25px;
      $detail-height: 20px;

      margin: 30px;
      width: calc(100% - #{2*$article-margin});
      height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;

      &.no-image {
        height: 105px;
        background: $darkgrey;

        &:hover {
          .title {
            opacity: 0;
          }
        }
      }

      .text {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        width: 100%;
        transition: opacity .4s ease;
      }

      .btn {
        float: right;
        opacity: 0;
      }

      header {
        padding-top: 8px;
        background: $darkgrey;

        .title {
          width: 100%;
          text-align: center;
          font-size: 25px;
          color: white;
        }

        .time {
          color: $css;
          padding-top: 5px;
        }
      }

      .details {
        color: white;
        font-size: 14px;
        font-weight: lighter;
        width: calc(100% - #{$detail-padding*2});
        background: $darkgrey;
        padding: 10px $detail-padding;
        height: $detail-height;
      }

      &:not(.no-image):hover {
        .text {
          opacity: 0;
        }

        .btn {
          opacity: 1;
        }
      }
    }
  }

  .bulb-list {
    $padding: 4px;

    flex: 1 0 50%;
    position: relative;

    article {
      font-size: 13px;
      display: flex;
      margin-bottom: 5px;
    }

    header {
      flex: 0 0 80px;
      text-align: center;
      padding: 6px 10px;
      background: $darkgrey;
      color: white;
    }

    .details {
      font-weight: lighter;
      margin: $padding 2*$padding;
      background: white;

      &:hover {
        overflow: visible;
        white-space: normal;
      }
    }
  }
}