@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://fonts.googleapis.com/css?family=Lato";
@import "http://fonts.googleapis.com/earlyaccess/notosanssc.css";
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fade-in-2 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out-2 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
*:not(i) {
  font-family: "Lato", "Noto Sans CJK SC", "Noto Sans SC", sans-serif; }

input, textarea {
  border: none;
  resize: none;
  font-size: 30px;
  padding: 20px; }
  input:active, input:focus, textarea:active, textarea:focus {
    outline: none; }
  input:disabled, textarea:disabled {
    color: black;
    background-color: inherit; }

.vertical-align .vertical-align-wrapper {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

.shadow {
  box-shadow: 3px 2px 9px grey; }

.shadow-light {
  box-shadow: 1px 1px 4px grey; }

.normal, .normal input {
  background: white;
  font-size: 16px;
  display: block;
  height: 20px;
  padding: 0;
  position: relative; }
  .normal.underlined, .normal.underlined input, .normal input.underlined, .normal input.underlined input {
    border-bottom: 1px solid grey !important;
    transition: border-bottom .4s ease; }
    .normal.underlined:focus, .normal.underlined:active, .normal.underlined input:focus, .normal.underlined input:active, .normal input.underlined:focus, .normal input.underlined:active, .normal input.underlined input:focus, .normal input.underlined input:active {
      border-bottom: 1px solid #448AFF !important; }
  .normal.dark, .normal input.dark {
    background: inherit;
    color: white; }
  .normal.disabled, .normal:disabled, .normal input.disabled, .normal input:disabled {
    border-bottom-color: transparent !important; }

.hidden {
  display: none !important; }

.transparent {
  opacity: 0;
  pointer-events: none !important; }

.flex {
  display: flex; }
  .flex.column {
    flex-direction: column; }

.flex-filler {
  flex: 1 1 auto; }

.flex-last-item {
  width: 100%; }

.flex-extend-inner-wrapper, .flex-inner-extend {
  position: absolute;
  height: 100%;
  width: 100%; }

img.center {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.btn, .Options .option, .toggle {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  height: 50px;
  width: 60px;
  font-weight: lighter;
  text-align: center;
  transition: .4s ease;
  user-select: none;
  cursor: pointer;
  border-radius: 1px; }
  .btn[disabled], .Options [disabled].option, .btn.disabled, .Options .disabled.option, .toggle[disabled], .toggle.disabled {
    pointer-events: none;
    opacity: .5; }
  .btn.dark, .Editor.dark .nav .btn, .Editor.dark .nav .Options .option, .Options .Editor.dark .nav .option, .Options .dark.option, .toggle.dark {
    background: #212121;
    color: white; }
  .btn.accent, .Options .accent.option, .toggle.accent {
    flex: 0 0 auto;
    color: white;
    background: #448AFF; }
    .btn.accent:hover:not(:active), .Options .accent.option:hover:not(:active), .toggle.accent:hover:not(:active) {
      background: #4678ff;
      box-shadow: 0px 1px 6px black;
      color: white; }
    .btn.accent:active, .Options .accent.option:active, .toggle.accent:active {
      color: white; }
  .btn.text, .Options .text.option, .toggle.text {
    width: auto;
    display: flex; }
    .btn.text .icon-wrapper, .Options .text.option .icon-wrapper, .toggle.text .icon-wrapper {
      flex: 0 0 60px; }
    .btn.text .text-wrapper, .Options .text.option .text-wrapper, .toggle.text .text-wrapper {
      display: block;
      flex: 1 1 auto;
      text-align: left;
      pointer-events: none;
      position: relative;
      white-space: nowrap; }
  .btn.loading, .Options .loading.option, .toggle.loading {
    opacity: .8; }
    .btn.loading .icon-wrapper .material-icons, .Options .loading.option .icon-wrapper .material-icons, .toggle.loading .icon-wrapper .material-icons {
      flex: 1 1 auto;
      animation: spin 1s linear infinite; }
  .btn.narrow, .Options .narrow.option, .toggle.narrow {
    width: 36px; }
  .btn.wide, .Options .wide.option, .toggle.wide {
    width: 180px; }
  .btn.wider, .Options .wider.option, .toggle.wider {
    width: 240px; }
  .btn:after, .Options .option:after, .toggle:after {
    pointer-events: none;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    transition: background .4s ease; }
  .btn.underlined:after, .Options .underlined.option:after, .toggle.underlined:after {
    background: black; }
  .btn.underlined.active:after, .Options .underlined.active.option:after, .btn.underlined:hover:after, .Options .underlined.option:hover:after, .toggle.underlined.active:after, .toggle.underlined:hover:after {
    background: #448AFF; }
  .btn.active, .Options .active.option, .btn:hover, .Options .option:hover, .toggle.active, .toggle:hover {
    color: #448AFF; }
  .btn:not(.underlined):hover .add-circle, .Options .option:not(.underlined):hover .add-circle, .toggle:not(.underlined):hover .add-circle {
    opacity: 1; }
  .btn:not(.underlined):hover .original, .Options .option:not(.underlined):hover .original, .toggle:not(.underlined):hover .original {
    opacity: 0; }
  .btn:not(.accent):hover, .Options .option:not(.accent):hover, .btn:not(.accent):active, .Options .option:not(.accent):active, .toggle:not(.accent):hover, .toggle:not(.accent):active {
    color: #448AFF; }
    .btn:not(.accent):hover span, .Options .option:not(.accent):hover span, .btn:not(.accent):active span, .Options .option:not(.accent):active span, .toggle:not(.accent):hover span, .toggle:not(.accent):active span {
      opacity: 1; }
  .btn .icon-wrapper, .Options .option .icon-wrapper, .btn .text-wrapper, .Options .option .text-wrapper, .toggle .icon-wrapper, .toggle .text-wrapper {
    height: 100%; }
  .btn .text-wrapper, .Options .option .text-wrapper, .toggle .text-wrapper {
    display: none; }
  .btn .loading-icon, .Options .option .loading-icon, .toggle .loading-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: inherit;
    transition: .4s ease; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.block {
  background: transparent;
  position: fixed;
  z-index: 900000000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0; }

.max-z-index {
  z-index: 999999999;
  position: relative; }

.z-index-inherit {
  z-index: inherit;
  position: relative; }

.no-width {
  width: 0 !important; }

.bg-grey {
  background: #eeeced; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

#root {
  height: 100%;
  width: 100%; }

nav.nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex; }
  nav.nav .btn, nav.nav .Options .option, .Options nav.nav .option {
    transition: .4s ease; }
  nav.nav.has-hint .btn:not(.hint), nav.nav.has-hint .Options .option:not(.hint), .Options nav.nav.has-hint .option:not(.hint) {
    opacity: 0; }
  nav.nav.has-hint .hint {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none; }
  nav.nav.has-hint:hover .btn:not(.hint), nav.nav.has-hint:hover .Options .option:not(.hint), .Options nav.nav.has-hint:hover .option:not(.hint) {
    opacity: 1; }
  nav.nav.has-hint:hover .btn.hint, nav.nav.has-hint:hover .Options .hint.option, .Options nav.nav.has-hint:hover .hint.option {
    opacity: 0; }

.no-scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .no-scroll.horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 20px; }
    .no-scroll.horizontal:before, .no-scroll.horizontal:after {
      height: 100%;
      width: 20px; }
    .no-scroll.horizontal:before {
      background: linear-gradient(to right, white 0, transparent 100%);
      left: 0; }
    .no-scroll.horizontal:after {
      background: linear-gradient(to left, white 0, transparent 100%);
      right: 0; }
    .no-scroll.horizontal .wrapper {
      bottom: 0px;
      height: 20px;
      width: 100%; }
    .no-scroll.horizontal > * {
      margin-left: 0; }
    .no-scroll.horizontal > *:first-child {
      margin-left: 20px; }
    .no-scroll.horizontal > *:last-child {
      margin-right: 20px; }
  .no-scroll .before, .no-scroll .after {
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    left: 0;
    pointer-events: none;
    z-index: 100; }
  .no-scroll .before {
    top: 0; }
  .no-scroll .after {
    bottom: 0; }
  .no-scroll .wrapper {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20px;
    background: white; }
  .no-scroll .no-scroll-wrapper {
    padding-right: 20px;
    width: 100%;
    height: 100%; }

.toggle {
  cursor: pointer;
  position: relative;
  display: inline-block; }
  .toggle .material-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none; }
  .toggle .first, .toggle .second, .toggle .loading-icon {
    transition: opacity .4s ease; }
  .toggle.accent .first, .toggle.accent .second {
    width: 120px; }
  .toggle .first {
    opacity: 1; }
  .toggle .second, .toggle .loading-icon {
    opacity: 0;
    animation-play-state: paused; }
  .toggle.change-hover:hover.show-second .first, .toggle:not(.change-hover).show-second .first {
    opacity: 0; }
  .toggle.change-hover:hover.show-second .second, .toggle:not(.change-hover).show-second .second {
    opacity: 1; }
  .toggle.loading {
    opacity: .8;
    pointer-events: none; }
    .toggle.loading .first, .toggle.loading .second {
      opacity: 0; }
    .toggle.loading .loading-icon {
      opacity: 1;
      animation: spin 1s linear infinite; }

.Prompt {
  z-index: 999999999;
  position: relative; }
  .Prompt.dim-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .Prompt.dim-bg .block {
      background: rgba(255, 255, 255, 0.5); }
  .Prompt .dialog {
    width: 700px;
    background-color: #fafafa; }
    .Prompt .dialog .title {
      background: #212121;
      color: white;
      padding: 30px 0;
      text-align: center;
      font-size: 19px; }
    .Prompt .dialog .message {
      position: relative;
      margin: 10px 0;
      padding: 30px 40px;
      line-height: 2em;
      box-sizing: border-box; }
      .Prompt .dialog .message:after {
        position: absolute;
        left: 25%;
        bottom: 0;
        content: '';
        width: 50%;
        height: 1px;
        background: #ddd; }
    .Prompt .dialog .btns {
      justify-content: center;
      display: flex;
      padding: 10px 20px 20px; }
      .Prompt .dialog .btns .btn, .Prompt .dialog .btns .Options .option, .Options .Prompt .dialog .btns .option {
        padding-right: 60px; }
      .Prompt .dialog .btns .yes {
        background: #448AFF;
        color: white; }
        .Prompt .dialog .btns .yes:hover {
          background: #8BC34A; }
      .Prompt .dialog .btns .text-wrapper {
        flex: none;
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
  .Prompt .dialog, .Prompt .prompt-box {
    z-index: 999999999; }
  .Prompt .prompt-child {
    z-index: inherit !important; }

.PredictionInput {
  position: relative; }
  .PredictionInput .prediction, .PredictionInput .input {
    display: inline-block;
    height: 20px;
    font-weight: lighter;
    font-family: "Noto Sans CJK SC", "Noto Sans SC", sans-serif; }
  .PredictionInput .prediction {
    color: lightgrey;
    font-size: inherit;
    position: absolute; }
  .PredictionInput .input {
    background: transparent;
    font-size: inherit;
    display: inline-block;
    padding: 0;
    width: 100%; }

.PredictionInputs .tags-wrapper {
  text-align: left;
  flex: 1 1 auto; }
  .PredictionInputs .tags-wrapper .tags {
    max-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
  .PredictionInputs .tags-wrapper .tag {
    padding: 4px 12px;
    height: 23px;
    flex: 0 0 auto;
    color: white;
    border-radius: 3px;
    margin: 0 0 2px 20px;
    display: inline-block;
    font-size: 16px;
    transition: background .4s ease;
    font-family: "Noto Sans CJK SC", "Noto Sans SC", sans-serif; }
    .PredictionInputs .tags-wrapper .tag:not(.white-background) {
      background: #448AFF; }
      .PredictionInputs .tags-wrapper .tag:not(.white-background):hover {
        background: #82B1FF; }

.Calendar {
  height: 100%; }
  .Calendar .calendar-table {
    display: flex;
    justify-content: center; }
    .Calendar .calendar-table .month-list {
      flex: 0 0 30px;
      padding-right: 10px; }
    .Calendar .calendar-table .day-blocks {
      position: relative;
      flex: 0 0 auto;
      display: flex;
      width: 140px;
      padding-top: 50px;
      flex-wrap: wrap;
      justify-content: space-around; }
      .Calendar .calendar-table .day-blocks .month-first:before {
        content: "month";
        position: absolute;
        left: -40px;
        width: 30px;
        text-align: right;
        padding-top: 20px; }
      .Calendar .calendar-table .day-blocks .month-first:first-of-type:before {
        padding-top: 0; }
      .Calendar .calendar-table .day-blocks .month-0:before {
        color: #00BCD4;
        content: "Jan"; }
      .Calendar .calendar-table .day-blocks .month-1:before {
        color: #00BCD4;
        content: "Feb"; }
      .Calendar .calendar-table .day-blocks .month-2:before {
        color: #00BCD4;
        content: "Mar"; }
      .Calendar .calendar-table .day-blocks .month-3:before {
        color: #00BCD4;
        content: "Apr"; }
      .Calendar .calendar-table .day-blocks .month-4:before {
        color: #00BCD4;
        content: "May"; }
      .Calendar .calendar-table .day-blocks .month-5:before {
        color: #00BCD4;
        content: "Jun"; }
      .Calendar .calendar-table .day-blocks .month-6:before {
        color: #00BCD4;
        content: "Jul"; }
      .Calendar .calendar-table .day-blocks .month-7:before {
        color: #00BCD4;
        content: "Aug"; }
      .Calendar .calendar-table .day-blocks .month-8:before {
        color: #00BCD4;
        content: "Sep"; }
      .Calendar .calendar-table .day-blocks .month-9:before {
        color: #00BCD4;
        content: "Oct"; }
      .Calendar .calendar-table .day-blocks .month-10:before {
        color: #00BCD4;
        content: "Nov"; }
      .Calendar .calendar-table .day-blocks .month-11:before {
        color: #00BCD4;
        content: "Dec"; }
    .Calendar .calendar-table .first-padding-1 {
      flex: 0 0 calc(1 * 14.2857142857142857142857%);
      background: #424242; }
    .Calendar .calendar-table .first-padding-2 {
      flex: 0 0 calc(2 * 14.2857142857142857142857%);
      background: #424242; }
    .Calendar .calendar-table .first-padding-3 {
      flex: 0 0 calc(3 * 14.2857142857142857142857%);
      background: #424242; }
    .Calendar .calendar-table .first-padding-4 {
      flex: 0 0 calc(4 * 14.2857142857142857142857%);
      background: #424242; }
    .Calendar .calendar-table .first-padding-5 {
      flex: 0 0 calc(5 * 14.2857142857142857142857%);
      background: #424242; }
    .Calendar .calendar-table .first-padding-6 {
      flex: 0 0 calc(6 * 14.2857142857142857142857%);
      background: #424242; }
    .Calendar .calendar-table .last-padding {
      flex: 1;
      background: #424242; }
    .Calendar .calendar-table .day-block {
      background: white;
      height: 20px;
      flex: 0 0 calc(100% / 7);
      transition: background .4s ease; }
      .Calendar .calendar-table .day-block .day-block-wrapper {
        cursor: pointer;
        pointer-events: none; }
      .Calendar .calendar-table .day-block.last-seven .day-block-wrapper {
        border-bottom: 4px solid #424242;
        padding-top: calc(100% - 3px); }
      .Calendar .calendar-table .day-block.last-one .day-block-wrapper {
        border-right: 4px solid #424242;
        width: calc(100% - 3px); }
      .Calendar .calendar-table .day-block.accent-1 {
        background: #B2EBF2; }
        .Calendar .calendar-table .day-block.accent-1 .day-block-wrapper {
          pointer-events: auto; }
      .Calendar .calendar-table .day-block.accent-2 {
        background: #80DEEA; }
        .Calendar .calendar-table .day-block.accent-2 .day-block-wrapper {
          pointer-events: auto; }
      .Calendar .calendar-table .day-block.accent-3 {
        background: #4DD0E1; }
        .Calendar .calendar-table .day-block.accent-3 .day-block-wrapper {
          pointer-events: auto; }
      .Calendar .calendar-table .day-block.accent-4 {
        background: #26C6DA; }
        .Calendar .calendar-table .day-block.accent-4 .day-block-wrapper {
          pointer-events: auto; }
      .Calendar .calendar-table .day-block.accent-5 {
        background: #00BCD4; }
        .Calendar .calendar-table .day-block.accent-5 .day-block-wrapper {
          pointer-events: auto; }
      .Calendar .calendar-table .day-block.accent-6 {
        background: #00ACC1; }
        .Calendar .calendar-table .day-block.accent-6 .day-block-wrapper {
          pointer-events: auto; }
      .Calendar .calendar-table .day-block.accent-7 {
        background: #0097A7; }
        .Calendar .calendar-table .day-block.accent-7 .day-block-wrapper {
          pointer-events: auto; }
      .Calendar .calendar-table .day-block.accent-8 {
        background: #00838F; }
        .Calendar .calendar-table .day-block.accent-8 .day-block-wrapper {
          pointer-events: auto; }
      .Calendar .calendar-table .day-block.accent-9 {
        background: #006064; }
        .Calendar .calendar-table .day-block.accent-9 .day-block-wrapper {
          pointer-events: auto; }
      .Calendar .calendar-table .day-block.triangle .day-block-wrapper {
        pointer-events: auto; }
        .Calendar .calendar-table .day-block.triangle .day-block-wrapper:after {
          content: "\25e5";
          position: absolute;
          right: 0;
          top: -2px;
          font-size: 7px; }
      .Calendar .calendar-table .day-block .day-block-wrapper {
        width: 100%;
        padding-top: 100%;
        position: relative;
        border: 1px solid #424242; }
        .Calendar .calendar-table .day-block .day-block-wrapper .text {
          position: absolute;
          bottom: calc(100% + 1px);
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 18px;
          pointer-events: none;
          user-select: none;
          color: transparent;
          transition: background .4s ease, color .4s ease; }
      .Calendar .calendar-table .day-block:hover {
        background: transparent; }
        .Calendar .calendar-table .day-block:hover .text {
          color: white;
          background: #424242; }

.Editor {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  display: flex;
  position: absolute;
  flex-flow: column;
  padding: 50px; }
  .Editor.fullscreen {
    z-index: 999999999;
    position: fixed;
    top: 0;
    left: 0;
    background: white; }
  .Editor.dark {
    background: #212121; }
    .Editor.dark input, .Editor.dark textarea {
      color: white; }
    .Editor.dark .nav .btn, .Editor.dark .nav .Options .option, .Options .Editor.dark .nav .option {
      transition: none; }
  .Editor.bulb-editor {
    padding: 0;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    position: relative; }
    .Editor.bulb-editor .text-body {
      font-size: 18px; }
  .Editor header {
    flex: 0 1 auto;
    margin: 0px 0px 10px;
    width: 100%; }
    .Editor header .title {
      padding-top: 0;
      display: inline-block;
      height: 40px;
      width: 50%;
      font-size: 30px;
      padding: 20px; }
    .Editor header .stats {
      padding: 15px 20px;
      display: inline-block;
      float: right;
      color: grey;
      font-size: 18px;
      height: 20px; }
      .Editor header .stats .stat {
        display: inline-block;
        margin-left: 20px;
        height: 100%;
        vertical-align: top;
        overflow: hidden;
        text-align: right;
        transition: .4s ease;
        white-space: nowrap; }
      .Editor header .stats .chars {
        width: 5ch;
        margin-left: 20px; }
      .Editor header .stats .elapsed, .Editor header .stats .times {
        width: 0;
        margin-left: 0; }
      .Editor header .stats .times.time {
        width: 100%; }
      .Editor header .stats:hover .elapsed {
        width: 6ch;
        margin-left: 20px; }
      .Editor header .stats:hover .times {
        width: 12ch;
        margin-left: 20px; }
  .Editor .text-body-wrapper {
    width: 100%;
    flex: 1 1 auto;
    position: relative;
    text-align: center; }
    .Editor .text-body-wrapper .text-body-wrapper-2 {
      position: absolute;
      height: 100%;
      padding: 0 50px;
      width: calc(100% - 100px);
      transition: .4s ease; }
  .Editor .text-body {
    -moz-tab-size: 2em;
    -o-tab-size: 2em;
    tab-size: 2em;
    flex: 1 1 auto;
    font-size: 25px;
    font-family: "Noto Sans CJK SC", "Noto Sans SC", sans-serif;
    font-weight: lighter;
    padding-left: 0;
    height: calc(100% - 80px);
    background: inherit;
    position: relative;
    left: .5em; }
  .Editor .extras {
    position: relative;
    background: white;
    z-index: 2;
    margin-top: 3px; }
    .Editor .extras.extend {
      height: 100%;
      display: flex;
      flex-direction: column; }
      .Editor .extras.extend .more-info {
        flex: 1 0 auto;
        position: relative; }
    .Editor .extras .buttons {
      justify-content: flex-end;
      display: flex;
      width: 100%;
      text-align: right;
      flex: 0 1 100px;
      flex-wrap: wrap; }
      .Editor .extras .buttons .send-wrapper {
        flex: 1 0 auto;
        text-align: right; }
      .Editor .extras .buttons .btn, .Editor .extras .buttons .Options .option, .Options .Editor .extras .buttons .option {
        text-align: center;
        flex: 0 0 60px; }
        .Editor .extras .buttons .btn.accent, .Editor .extras .buttons .Options .accent.option, .Options .Editor .extras .buttons .accent.option {
          width: 120px;
          margin-left: 30px;
          flex: 0 0 120px; }
        .Editor .extras .buttons .btn span, .Editor .extras .buttons .Options .option span, .Options .Editor .extras .buttons .option span {
          transition: opacity .4s ease;
          opacity: 0;
          pointer-events: none; }
    .Editor .extras .more-info {
      margin-top: 10px;
      width: inherit;
      text-align: center;
      pointer-events: none;
      background: transparent;
      transition: .4s ease; }
      .Editor .extras .more-info .empty {
        color: #212121; }
      .Editor .extras .more-info input {
        font-size: 16px;
        display: block;
        padding: 5px;
        flex: 1 1 auto; }
      .Editor .extras .more-info.hidden {
        height: 0;
        margin: 0;
        opacity: 0; }
      .Editor .extras .more-info .photo-preview {
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        height: 100%; }
        .Editor .extras .more-info .photo-preview .photo-wrapper {
          position: fixed;
          top: 0;
          left: 250px;
          bottom: 280px;
          right: 0;
          background: white;
          box-sizing: content-box;
          padding: 10px; }
          .Editor .extras .more-info .photo-preview .photo-wrapper .center {
            cursor: pointer; }
        .Editor .extras .more-info .photo-preview .photo-no-scroll {
          margin-top: 10px;
          flex: 0 0 auto;
          height: 105px; }
      .Editor .extras .more-info .more-info-wrapper {
        width: 100%;
        max-height: 275px;
        border-radius: 3px;
        pointer-events: auto;
        background: white;
        margin: 0; }
        .Editor .extras .more-info .more-info-wrapper .btn, .Editor .extras .more-info .more-info-wrapper .Options .option, .Options .Editor .extras .more-info .more-info-wrapper .option {
          zoom: .7; }
    .Editor .extras .current-tags-wrapper {
      flex: 1 0 auto;
      width: calc(100% - 60px); }
    .Editor .extras .breaker {
      margin: 10px 10px;
      width: 1px;
      background: lightgrey; }
    .Editor .extras .photos {
      text-align: left;
      display: block; }
      .Editor .extras .photos .photo {
        height: 90px;
        padding: 0 2.5px;
        opacity: .5;
        display: none;
        transition: opacity .4s ease, filter .4s ease; }
        .Editor .extras .photos .photo.loading {
          opacity: .8;
          filter: blur(2px); }
        .Editor .extras .photos .photo.selected {
          opacity: 1;
          display: inline-block; }
      .Editor .extras .photos.show-all .photo {
        cursor: pointer; }
      .Editor .extras .photos.show-all .photo:not(.selected) {
        display: inline-block; }
    .Editor .extras .music, .Editor .extras .link, .Editor .extras .movie {
      text-align: center;
      justify-content: center;
      display: flex; }
      .Editor .extras .music input, .Editor .extras .link input, .Editor .extras .movie input {
        max-width: 30vw; }
      .Editor .extras .music .title, .Editor .extras .link .title, .Editor .extras .movie .title {
        text-align: right; }
    .Editor .extras .title, .Editor .extras .by {
      max-width: 30vw; }
    .Editor .extras .url {
      max-width: 40vw; }
    .Editor .extras .movie input {
      max-width: 50vw; }
    .Editor .extras .link .text {
      padding: 5px 0px 1px 10px; }
    .Editor .extras .text {
      font-size: 15px;
      padding: 7px 10px 0px;
      color: #448AFF; }
    .Editor .extras .others {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .Editor .extras .other-wrapper {
      display: inline-block;
      margin: 10px 0;
      width: 420px; }
      .Editor .extras .other-wrapper .other {
        display: flex;
        flex-direction: column; }
      .Editor .extras .other-wrapper .type-wrapper {
        flex: 0 0 40px;
        height: 40px;
        width: 100%;
        background: #448AFF;
        color: white;
        position: relative;
        display: flex;
        height: 40px; }
        .Editor .extras .other-wrapper .type-wrapper.add {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .Editor .extras .other-wrapper .type-wrapper.add .icon {
            color: white;
            position: static;
            padding: 0;
            height: 18px; }
        .Editor .extras .other-wrapper .type-wrapper .btn:hover, .Editor .extras .other-wrapper .type-wrapper .Options .option:hover, .Options .Editor .extras .other-wrapper .type-wrapper .option:hover {
          color: black; }
        .Editor .extras .other-wrapper .type-wrapper .type {
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          padding: 0;
          text-align: center; }
        .Editor .extras .other-wrapper .type-wrapper .icon {
          position: absolute;
          top: -11px;
          right: -9px;
          color: black;
          padding: 0; }
          .Editor .extras .other-wrapper .type-wrapper .icon:hover {
            color: #2962FF; }
      .Editor .extras .other-wrapper .other-props {
        display: block;
        width: 420px;
        text-align: left;
        margin-top: 5px; }
        .Editor .extras .other-wrapper .other-props .other-prop {
          padding: 5px 10px;
          width: 400px;
          display: inline-block; }
          .Editor .extras .other-wrapper .other-props .other-prop.add .other-prop-wrapper {
            padding-left: 10px; }
          .Editor .extras .other-wrapper .other-props .other-prop .other-prop-wrapper {
            display: flex; }
          .Editor .extras .other-wrapper .other-props .other-prop .text {
            text-align: left;
            float: left;
            flex: 0 0 auto; }
          .Editor .extras .other-wrapper .other-props .other-prop .normal {
            flex: 1 1 auto; }
            .Editor .extras .other-wrapper .other-props .other-prop .normal.new-key {
              flex: none; }
              .Editor .extras .other-wrapper .other-props .other-prop .normal.new-key input {
                color: #448AFF;
                font-size: 15px; }
  .Editor > .shadow {
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
    bottom: -2px;
    height: 1px; }

.NumberCard .number-card-0 {
  bottom: 0px; }
.NumberCard .number-card-1 {
  bottom: 22px; }
.NumberCard .number-card-2 {
  bottom: 44px; }
.NumberCard .number-card-3 {
  bottom: 66px; }
.NumberCard .number-card-4 {
  bottom: 88px; }
.NumberCard .number-card-5 {
  bottom: 110px; }
.NumberCard .number-card-6 {
  bottom: 132px; }
.NumberCard .number-card-7 {
  bottom: 154px; }
.NumberCard .number-card-8 {
  bottom: 176px; }
.NumberCard .number-card-9 {
  bottom: 198px; }
.NumberCard .number-card {
  position: relative;
  transition: bottom .4s ease;
  width: 1ch;
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
  white-space: pre-wrap;
  float: right; }

.Image {
  position: relative;
  width: 100%;
  height: 100%; }
  .Image.toggle .image:first-child {
    opacity: 0;
    animation: fade-out-2 .4s ease; }
  .Image.toggle .image:last-child {
    opacity: 1;
    animation: fade-in-2 .4s ease; }
  .Image .image:first-child {
    opacity: 0;
    animation: fade-out .4s ease; }
  .Image .image:last-child {
    opacity: 1;
    animation: fade-in .4s ease; }
  .Image .stretch {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .Image .contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.EntryView {
  height: 100%;
  width: 100%;
  position: relative;
  background: white; }
  .EntryView .empty-prompt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #424242; }
  .EntryView article {
    transition: top .4s ease;
    animation: fade-in .4s ease;
    will-change: top; }
    .EntryView article:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 0;
      background: #00BCD4;
      transition: width .4s ease; }
  .EntryView.bulb-only .timeline-wrapper, .EntryView.article-only .timeline-wrapper {
    display: none; }
  .EntryView.bulb-only .entries article:before, .EntryView.bulb-only .entries article:after, .EntryView.article-only .entries article:before, .EntryView.article-only .entries article:after {
    display: none; }
  .EntryView.article-only .article-list {
    max-width: 50vw;
    flex: 1 1 auto; }
  .EntryView.article-only .bulb-list {
    display: none; }
  .EntryView .entries {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .EntryView .time {
    font-size: 12px;
    text-align: center; }
  .EntryView .details {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .EntryView .timeline-wrapper {
    flex: 0 0 50px;
    position: relative;
    height: 100%; }
    .EntryView .timeline-wrapper .timeline {
      background: #e3e3e3;
      width: 2px;
      position: absolute;
      left: 34px; }
  .EntryView .bulb-image-viewer {
    position: absolute;
    width: calc(30% + 25px - 5px);
    max-width: 530px;
    top: 0;
    height: 100%;
    z-index: 10;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity .4s ease; }
    .EntryView .bulb-image-viewer.show {
      opacity: 1;
      pointer-events: auto; }
    .EntryView .bulb-image-viewer .nav {
      z-index: inherit; }
    .EntryView .bulb-image-viewer .bulb-image-viewer-wrapper {
      background: #eeeced;
      height: 100%;
      width: calc(100% - 30px);
      margin: auto;
      position: relative;
      overflow: hidden; }
  .EntryView .article-list {
    flex: 0 0 30%;
    max-width: 500px;
    position: relative; }
    .EntryView .article-list .Image {
      position: absolute;
      pointer-events: none; }
    .EntryView .article-list article {
      margin: 0 0 30px 30px;
      width: calc(100% - 30px);
      height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      transition: box-shadow .4s ease;
      cursor: pointer;
      box-shadow: 0 1px 3px lightgrey; }
      .EntryView .article-list article:before {
        right: -35px;
        bottom: 5px;
        background: #00BCD4; }
      .EntryView .article-list article:after {
        content: "";
        position: absolute;
        border-radius: 5px;
        height: 10px;
        width: 10px;
        bottom: 0;
        background: #00BCD4;
        box-shadow: 0 0 2px 3px #eeeced;
        z-index: 1;
        transition: background .2s ease, box-shadow .2s ease;
        right: -40px; }
      .EntryView .article-list article:hover {
        box-shadow: 3px 2px 9px grey; }
        .EntryView .article-list article:hover .Image {
          filter: blur(0); }
        .EntryView .article-list article:hover:before {
          width: 35px; }
        .EntryView .article-list article:hover:after {
          content: "";
          position: absolute;
          border-radius: 5px;
          height: 10px;
          width: 10px;
          bottom: 0;
          background: #00BCD4;
          box-shadow: 0 0 2px 3px #eeeced;
          z-index: 1;
          transition: background .2s ease, box-shadow .2s ease;
          background: white;
          box-shadow: 0 0 2px 2px #00BCD4;
          right: -40px; }
      .EntryView .article-list article.no-image {
        background: white; }
        .EntryView .article-list article.no-image .title {
          transition: width .4s ease;
          padding-bottom: 5px;
          padding-top: 20px;
          color: black; }
        .EntryView .article-list article.no-image .Image {
          display: none; }
        .EntryView .article-list article.no-image .text {
          background: white;
          padding: 30px 40px;
          justify-content: flex-end; }
          .EntryView .article-list article.no-image .text .flex-filler {
            display: none; }
        .EntryView .article-list article.no-image .time {
          color: #424242; }
        .EntryView .article-list article.no-image .details {
          color: #424242;
          -webkit-line-clamp: 5;
          margin-bottom: 20px; }
        .EntryView .article-list article.no-image:hover .title {
          width: calc(100% - 60px); }
        .EntryView .article-list article.no-image:hover .btn, .EntryView .article-list article.no-image:hover .Options .option, .Options .EntryView .article-list article.no-image:hover .option {
          opacity: 1; }
      .EntryView .article-list article .Image {
        filter: blur(2px);
        transition: filter .4s ease; }
      .EntryView .article-list article .text {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.3);
        transition: opacity .4s ease; }
      .EntryView .article-list article .btn, .EntryView .article-list article .Options .option, .Options .EntryView .article-list article .option {
        float: right;
        opacity: 0; }
      .EntryView .article-list article .title {
        width: 100%;
        font-size: 25px;
        font-weight: bold;
        color: white;
        box-sizing: border-box; }
      .EntryView .article-list article .time {
        text-align: left;
        color: #e8e8e8;
        padding: 10px 0; }
      .EntryView .article-list article .details {
        font-size: 14px;
        box-sizing: border-box;
        color: white;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal; }
      .EntryView .article-list article:not(.no-image):hover .text {
        opacity: 0; }
      .EntryView .article-list article:not(.no-image):hover .btn, .EntryView .article-list article:not(.no-image):hover .Options .option, .Options .EntryView .article-list article:not(.no-image):hover .option {
        opacity: 1; }
  .EntryView .bulb-list {
    flex: 1 0 50%;
    position: relative; }
    .EntryView .bulb-list article {
      font-size: 16px;
      font-weight: normal;
      display: flex;
      width: 100%;
      position: absolute;
      transition: background .2s ease; }
      .EntryView .bulb-list article:before {
        left: -15px;
        background: #00BCD4;
        top: 16.5px; }
      .EntryView .bulb-list article:after {
        content: "";
        position: absolute;
        border-radius: 3px;
        height: 6px;
        width: 6px;
        bottom: 0;
        background: #00BCD4;
        box-shadow: 0 0 2px 3px #eeeced;
        z-index: 1;
        transition: background .2s ease, box-shadow .2s ease;
        background: #80DEEA;
        left: -18px;
        top: 13.5px; }
      .EntryView .bulb-list article:hover, .EntryView .bulb-list article.active {
        height: auto;
        z-index: 5;
        background: white;
        box-shadow: 0 1px 4px grey; }
        .EntryView .bulb-list article:hover header, .EntryView .bulb-list article.active header {
          background: #212121;
          color: white; }
        .EntryView .bulb-list article:hover .details, .EntryView .bulb-list article.active .details {
          overflow: visible;
          white-space: normal; }
        .EntryView .bulb-list article:hover:before, .EntryView .bulb-list article.active:before {
          width: 15px; }
        .EntryView .bulb-list article:hover:after, .EntryView .bulb-list article.active:after {
          content: "";
          position: absolute;
          border-radius: 3px;
          height: 6px;
          width: 6px;
          bottom: 0;
          background: #00BCD4;
          box-shadow: 0 0 2px 3px #eeeced;
          z-index: 1;
          transition: background .2s ease, box-shadow .2s ease;
          background: white;
          box-shadow: 0 0 2px 2px #00BCD4;
          left: -18px;
          top: 13.5px; }
    .EntryView .bulb-list header {
      flex: 0 0 80px;
      text-align: center;
      padding: 6px 8px;
      background: transparent;
      color: #424242;
      transition: background .2s ease, color .2s ease; }
    .EntryView .bulb-list .details {
      padding: 4px 8px; }
    .EntryView .bulb-list .image {
      position: absolute;
      right: calc(100% + 50px); }

.MainContent {
  height: 100%;
  width: 100%;
  display: flex; }
  .MainContent .sidebar {
    flex: 0 0 auto;
    width: 250px;
    background: #212121;
    overflow: hidden; }
    .MainContent .sidebar .create-btn {
      width: 170px; }
      .MainContent .sidebar .create-btn .btn, .MainContent .sidebar .create-btn .Options .option, .Options .MainContent .sidebar .create-btn .option {
        margin: 40px 40px 20px;
        width: 100%; }
    .MainContent .sidebar .other-btn {
      padding-top: 20px; }
      .MainContent .sidebar .other-btn .list-tab.active {
        background: #eeeced; }
    .MainContent .sidebar .btn, .MainContent .sidebar .Options .option, .Options .MainContent .sidebar .option {
      height: 60px;
      width: 250px; }
      .MainContent .sidebar .btn.active, .MainContent .sidebar .Options .active.option, .Options .MainContent .sidebar .active.option {
        background: white;
        color: #212121; }
      .MainContent .sidebar .btn.indent, .MainContent .sidebar .Options .indent.option, .Options .MainContent .sidebar .indent.option {
        padding-left: 30px; }
        .MainContent .sidebar .btn.indent.active, .MainContent .sidebar .Options .indent.active.option, .Options .MainContent .sidebar .indent.active.option {
          background: #424242;
          color: white; }
      .MainContent .sidebar .btn.disabled, .MainContent .sidebar .Options .disabled.option, .Options .MainContent .sidebar .disabled.option {
        opacity: .3;
        pointer-events: none; }
      .MainContent .sidebar .btn .icon-wrapper, .MainContent .sidebar .Options .option .icon-wrapper, .Options .MainContent .sidebar .option .icon-wrapper {
        flex: 0 0 70px; }
  .MainContent > main {
    flex: 1 1 auto;
    position: relative; }
    .MainContent > main .inner-main {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: hidden; }
    .MainContent > main .main-header {
      width: 100%;
      height: 80px;
      flex: 0 0 80px;
      position: relative;
      background: #212121;
      display: flex;
      justify-content: flex-end; }
      .MainContent > main .main-header .year {
        color: white; }
      .MainContent > main .main-header .SearchBar {
        position: absolute;
        left: 0; }
    .MainContent > main .content {
      width: 100%;
      flex: 1 1 auto;
      display: flex;
      position: relative; }
    .MainContent > main .list-view .calendar-view {
      flex: 1 0 250px;
      display: flex;
      flex-direction: column; }
      .MainContent > main .list-view .calendar-view .calendar-padding {
        height: 120px;
        flex: 0 0 120px;
        width: 100%;
        background: #eeeced; }
      .MainContent > main .list-view .calendar-view .calendar-parent {
        background: #424242;
        position: relative;
        flex: 1 1 auto; }
    .MainContent > main .list-view .bulb-map-view {
      flex: 1 0 50%;
      height: 100%; }
    .MainContent > main .list-view .Calendar {
      background: #212121; }
    .MainContent > main .list-view .EntryView {
      flex: 1 1 auto; }
    .MainContent > main .inner-content {
      display: flex;
      background: #212121; }
  .MainContent .loading-screen {
    z-index: 999999999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.SearchBar {
  height: 100%;
  width: 100%;
  max-width: 900px;
  position: relative; }
  .SearchBar .search-bar-wrapper {
    height: 100%;
    width: 100%;
    display: flex; }
  .SearchBar .advanced-search {
    top: 80px; }
  .SearchBar .btn.text, .SearchBar .Options .text.option, .Options .SearchBar .text.option, .SearchBar .toggle {
    flex: 0 0 auto; }
  .SearchBar .btn.text, .SearchBar .Options .text.option, .Options .SearchBar .text.option {
    width: 150px; }
  .SearchBar .keyword {
    border-radius: 2px;
    flex: 1 1 auto;
    font-size: 20px;
    padding: 10px;
    margin-left: 50px;
    transition: .4s ease; }
    .SearchBar .keyword[disabled] {
      background: #212121;
      color: white; }
  .SearchBar .form {
    position: absolute;
    width: 100%;
    max-width: 900px;
    padding: 15px 0 20px;
    z-index: 9999;
    left: 0;
    background: white; }
    .SearchBar .form .form-wrapper {
      width: 100%;
      max-width: 900px;
      margin: auto; }
    .SearchBar .form .form-col {
      display: flex;
      padding: 0 50px;
      margin-top: 5px; }
      .SearchBar .form .form-col .title {
        padding: 0 20px;
        background: #212121;
        color: white;
        margin-right: 5px; }

.Options {
  display: flex;
  justify-content: center;
  flex: 1 0 auto; }
  .Options.text .icon-wrapper {
    display: none; }
  .Options.text .text-wrapper {
    text-align: center; }
  .Options.text .option {
    flex: 0 1 100px; }
  .Options .option {
    flex: 0 1 150px;
    display: flex; }
    .Options .option.selected {
      background: #448AFF;
      color: white; }
      .Options .option.selected:hover {
        color: white; }
    .Options .option .btn-text {
      pointer-events: none; }
    .Options .option .icon-wrapper {
      flex: 0 1 60px;
      margin-right: -30px; }
    .Options .option .text-wrapper {
      flex: 1 1 auto;
      display: block; }

.Chart {
  width: 100%;
  height: 100%; }
  .Chart .content {
    flex-direction: column; }
  .Chart .chart-wrapper {
    box-sizing: border-box;
    padding: 5% 5% 0; }
  .Chart .table-wrapper {
    margin-top: 2.5vh;
    height: 25vh; }
  .Chart .table-data-out, .Chart .table-header-out {
    text-align: center; }
  .Chart .table-data {
    display: inline-block;
    border-collapse: collapse; }
  .Chart .table-header {
    margin-right: 20px;
    display: inline-block;
    border-collapse: collapse;
    table-layout: fixed; }
    .Chart .table-header .row-header .cell-data {
      background: #212121;
      color: white; }
  .Chart .row-data {
    border-bottom: 2px solid white; }
  .Chart .row-data, .Chart .row-header {
    height: 50px;
    background: white;
    margin-right: 20px; }
    .Chart .row-data:nth-child(odd), .Chart .row-header:nth-child(odd) {
      background: #e8e8e8; }
  .Chart .cell-blank {
    background: white;
    width: 20em; }
  .Chart .cell-keyword {
    background: #212121;
    color: white;
    width: 20em;
    padding-right: 1em;
    box-sizing: border-box; }
    .Chart .cell-keyword .cell-keyword-wrapper {
      height: 100%;
      width: 100%;
      display: flex; }
    .Chart .cell-keyword .normal {
      text-align: right;
      flex: 1 1 auto;
      padding: 3px; }
  .Chart .cell-data {
    width: 5em;
    text-align: center;
    border: none; }

.notification-dismiss {
  display: none; }

.trak {
  width: 100%;
  height: 100%; }
  .trak .intro {
    width: 100%;
    height: 100%;
    color: white;
    flex-direction: column; }
    .trak .intro .background {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("https://www.goodfreephotos.com/albums/astrophotography/milky-way-and-starry-night-sky.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(100%);
      z-index: -1; }
    .trak .intro .title {
      font-size: 150px; }
    .trak .intro .description, .trak .intro .error {
      font-size: 17px;
      background: #191919;
      padding: 20px 50px;
      margin: 50px 0;
      border-radius: 3px; }
    .trak .intro .error {
      background: #F44336; }
    .trak .intro .accent {
      width: 140px;
      box-shadow: 1px 5px 10px #333;
      border-radius: 3px; }
    .trak .intro .about {
      width: 160px;
      position: fixed;
      bottom: 0; }

/*# sourceMappingURL=index.css.map */
