@import "./base.scss";

$main-header-height: 80px;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

nav.nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;

  .btn {
    transition: .4s ease;
  }

  &.has-hint {
    .btn {
      &:not(.hint) {
        opacity: 0;
      }
    }

    .hint {
      position: absolute;
      right: 0;
      top: 0;
      pointer-events: none;
    }

    &:hover {
      .btn:not(.hint) {
        opacity: 1;
      }

      .btn.hint {
        opacity: 0;
      }
    }
  }
}

.no-scroll {
  $scroll-bar-padding: 20px;
  $background-color: white;

  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &.horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 20px;

    &:before, &:after {
      height: 100%;
      width: $scroll-bar-padding;
    }

    &:before {
      background: linear-gradient(to right, $background-color 0, transparent 100%);
      left: 0;
    }

    &:after {
      background: linear-gradient(to left, $background-color 0, transparent 100%);
      right: 0;
    }

    .wrapper {
      bottom: 0px;
      height: $scroll-bar-padding;
      width: 100%;
    }

    > * {
      margin-left: 0;
    }

    > *:first-child {
      margin-left: $scroll-bar-padding;
    }

    > *:last-child {
      margin-right: $scroll-bar-padding;
    }
  }

  .before, .after {
    display: block;
    position: absolute;
    width: 100%;
    height: $scroll-bar-padding;
    content: "";
    left: 0;
    pointer-events: none;
    z-index: 100;
  }

  .before {
    top: 0;
  }

  .after {
    bottom: 0;
  }

  .wrapper {
    position: absolute;
    right: 0;
    height: 100%;
    width: $scroll-bar-padding;
    background: white;
  }

  .no-scroll-wrapper {
    padding-right: 20px;
    width: 100%;
    height: 100%;
  }
}

.toggle.vertical-align {
  cursor: pointer;
  position: relative;
  display: inline-block;

  .first, .second {
    transition: opacity .4s ease;
  }

  &.accent {
    .first, .second {
      width: 120px;
    }
  }

  .first {
    opacity: 1;
  }

  .second {
    top: 0;
    position: relative;
    opacity: 0;
  }

  &.change-hover:hover.show-second, &:not(.change-hover).show-second {
    .first {
      opacity: 0;
    }

    .second {
      opacity: 1;
    }
  }
}

.Prompt {
  @include max-z-index;
  position: relative;

  &.dim-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .block {
      background: rgba(255, 255, 255, .5);
    }
  }

  .dialog {
    width: 700px;
    background-color: #fafafa;

    .title {
      background: $darkgrey;
      color: white;
      padding: 30px 0;
      text-align: center;
      font-size: 19px;
    }

    .message {
      //background: $cp;
      //color: white;
      position: relative;
      padding: 30px;
      line-height: 2em;

      &:after {
        position: absolute;
        left: 25%;
        bottom: 10px;
        content: '';
        width: 50%;
        height: 1px;
        background: #ddd;
      }
    }

    .btns {
      justify-content: center;
      display: flex;
      padding: 10px 20px 20px;

      .btn {
        padding-right: $button-width;
      }

      .yes {
        background: $cp;
        color: white;

        &:hover {
          background: $lightgreen;
        }
      }

      .text-wrapper {
        flex: none;
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .dialog, .prompt-box {
    @include max-z-index;
  }

  .prompt-child {
    z-index: inherit !important;
  }
}

.PredictionInput {
  position: relative;

  .prediction, .input {
    display: inline-block;
    height: 20px;
    font-weight: lighter;
    font-family: "Noto Sans CJK SC", "Noto Sans SC", sans-serif;
  }

  .prediction {
    color: lightgrey;
    font-size: inherit;
    position: absolute;
  }

  .input {
    background: transparent;
    font-size: inherit;
    display: inline-block;
    padding: 0;
    width: 100%;
  }
}

.PredictionInputs {
  .tags-wrapper {
    $tag-font-size: 16px;

    text-align: left;
    flex: 1 1 auto;

    .tags {
      max-height: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .tag {
      padding: 4px 12px;
      height: 23px;
      flex: 0 0 auto;
      color: white;
      border-radius: 3px;
      margin: 0 0 2px 20px;
      display: inline-block;
      font-size: $tag-font-size;
      transition: background .4s ease;
      font-family: "Noto Sans CJK SC", "Noto Sans SC", sans-serif;

      &:not(.white-background) {
        background: $blue;

        &:hover {
          background: $blue-light;
        }
      }
    }
  }
}

.Calendar {
  $day-block-size: 20px;
  $day-block-margin: 1px;
  $month-list-width: 30px;

  $default-background-color: white;
  $padding-background-color: $darkgrey-l;
  $delimitor-border-color: $darkgrey-l;

  height: 100%;

  .calendar-table {
    display: flex;
    justify-content: center;

    .month-list {
      flex: 0 0 $month-list-width;
      padding-right: 10px;
    }

    .day-blocks {
      position: relative;
      flex: 0 0 auto;
      display: flex;
      width: $day-block-size * 7;
      padding-top: 50px;
      flex-wrap: wrap;
      //background: $default-background-color;
      justify-content: space-around;

      .month-first {
        &:before {
          content: "month";
          position: absolute;
          left: -$month-list-width - 10px;
          width: $month-list-width;
          text-align: right;
          padding-top: $day-block-size;
        }

        &:first-of-type:before {
          padding-top: 0;
        }
      }

      $MONTH: ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");

      @for $i from 1 through 12 {
        .month-#{$i - 1}:before {
          color: $css;
          content: nth($MONTH, $i);
        }
      }
    }

    @for $i from 1 through 6 {
      .first-padding-#{$i} {
        flex: 0 0 calc(#{$i} * 14.2857142857142857142857%);
        background: $padding-background-color;
      }
    }

    .last-padding {
      flex: 1;
      background: $padding-background-color;
    }

    .day-block {
      background: $default-background-color;
      height: $day-block-size;
      flex: 0 0 calc(100% / 7);
      transition: background .4s ease;

      .day-block-wrapper {
        cursor: pointer;
        pointer-events: none;
      }

      &.last-seven .day-block-wrapper {
        border-bottom: $day-block-margin*4 solid $delimitor-border-color;
        padding-top: calc(100% - #{$day-block-margin*3});
      }

      &.last-one .day-block-wrapper {
        border-right: $day-block-margin*4 solid $delimitor-border-color;
        width: calc(100% - #{$day-block-margin*3});
      }

      //&.last-one + .day-block .day-block-wrapper {
      //  border-left: $day-block-margin*4 solid $delimitor-border-color;
      //  width: calc(100% - #{$day-block-margin*3});
      //}

      @for $i from 1 through 9 {
        &.accent-#{$i} {
          background: nth($cs, $i);

          .day-block-wrapper {
            pointer-events: auto;
          }
        }
      }

      &.triangle {

        .day-block-wrapper {
          pointer-events: auto;

          &:after {
            content: "\25e5";
            position: absolute;
            right: 0;
            top: -2px;
            font-size: 7px;
          }
        }

      }

      .day-block-wrapper {
        width: 100%;
        padding-top: 100%;
        position: relative;
        border: $day-block-margin solid $delimitor-border-color;

        .text {
          position: absolute;
          bottom: calc(100% + 1px);
          width: $day-block-size * 2;
          height: $day-block-size * 2;
          text-align: center;
          font-size: 18px;
          pointer-events: none;
          user-select: none;
          color: transparent;
          transition: background .4s ease, color .4s ease;
        }
      }

      &:hover {
        background: transparent;

        .text {
          color: white;
          background: $delimitor-border-color;
        }
      }
    }
  }
}

.Editor {
  $stats-width: 200px;
  $title-height: 50px;
  $editor-padding: 50px;
  $full-width: 100%;
  $button-width-accent: 120px;

  width: calc(100% - #{2 * $editor-padding});
  height: calc(100% - #{2 * $editor-padding});
  display: flex;
  position: absolute;
  flex-flow: column;
  padding: $editor-padding;

  &.dark {
    background: $darkgrey;

    input, textarea {
      color: white;
    }

    .nav .btn {
      @extend .btn.dark;
      transition: none;
    }
  }

  &.fullscreen {
    @include max-z-index;

    position: fixed;
    top: 0;
    left: 0;
    background: white;
  }

  header {
    flex: 0 1 auto;
    margin: 0px 0px 10px;
    width: $full-width;

    .title {
      padding-top: 0;
      display: inline-block;
      height: 40px;
      width: 50%;
      font-size: 30px;
      padding: 20px;
    }

    .stats {
      $stats-height: 20px;
      padding: ($title-height - $stats-height)/2 20px;
      display: inline-block;
      float: right;
      color: grey;
      font-size: 18px;
      height: $stats-height;

      .stat {
        display: inline-block;
        margin-left: 20px;
        height: 100%;
        vertical-align: top;
        overflow: hidden;
        text-align: right;
        transition: .4s ease;
        white-space: nowrap;
      }

      .chars {
        width: 5ch;
        margin-left: 20px;
      }

      .elapsed, .times {
        width: 0;
        margin-left: 0;
      }

      .times.time {
        width: 100%;
      }

      &:hover {
        .elapsed {
          width: 6ch;
          margin-left: 20px;
        }

        .times {
          width: 12ch;
          margin-left: 20px;
        }
      }
    }
  }

  .text-body-wrapper {
    width: $full-width;
    flex: 1 1 auto;
    position: relative;
    text-align: center;

    .text-body-wrapper-2 {
      position: absolute;
      height: 100%;
      padding: 0 50px;
      width: calc(100% - 100px);
      transition: .4s ease;
    }
  }

  .text-body {
    -moz-tab-size: 2em;
    -o-tab-size: 2em;
    tab-size: 2em;
    flex: 1 1 auto;
    font-size: 25px;
    font-family: "Noto Sans CJK SC", "Noto Sans SC", sans-serif;
    font-weight: lighter;
    padding-left: 0;
    height: calc(100% - #{$scroll-bar-padding * 2});
    background: inherit;
    position: relative;
    left: .5em;
  }

  .extras {
    position: relative;
    background: white;
    z-index: 2;
    margin-top: 3px;

    &.extend {
      height: 100%;
      display: flex;
      flex-direction: column;

      .more-info {
        flex: 1 0 auto;
        position: relative;
      }
    }

    .buttons {
      justify-content: flex-end;
      display: flex;
      width: $full-width;
      text-align: right;
      flex: 0 1 $button-height * 2;
      flex-wrap: wrap;

      .send-wrapper {
        flex: 1 0 auto;
        text-align: right;
      }

      .btn {
        text-align: center;
        flex: 0 0 $button-width;

        &.accent {
          width: $button-width-accent;
          margin-left: $button-width / 2;
        }

        span {
          transition: opacity .4s ease;
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    .more-info {
      margin-top: 10px;
      width: inherit;
      text-align: center;
      pointer-events: none;
      background: transparent;
      transition: .4s ease;

      input {
        font-size: 16px;
        display: block;
        padding: 5px;
        flex: 1 1 auto;
      }

      &.hidden {
        height: 0;
        margin: 0;
        opacity: 0;
      }

      .photo-preview {
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        height: 100%;

        .photo-previewed-wrapper {
          width: 100%;
          flex: 1 0 auto;
          position: relative;

          .photo-wrapper {
            width: 100%;
            height: 100%;
          }
        }

        .photo-no-scroll {
          margin-top: 10px;
          flex: 0 0 auto;
          height: 105px;
        }
      }

      .more-info-wrapper {
        width: 100%;
        max-height: 275px;
        border-radius: 3px;
        pointer-events: auto;
        background: white;
        margin: 0;

        .icon {
          padding: 6px 0 0 6px;
          font-size: 18px;
          position: relative;
          pointer-events: auto;
          transition: color .4s ease;

          .material-icons {
            font-size: 18px;
          }

          &:hover {
            color: $blue;
          }
        }

        .vertical-align-wrapper {
          height: 100%;
        }
      }
    }

    .current-tags-wrapper {
      flex: 1 0 auto;
      width: calc(100% - #{$button-width});
    }

    .breaker {
      margin: 10px 10px;
      width: 1px;
      background: lightgrey;
    }

    .photos {
      text-align: left;
      display: block;

      .photo {
        height: 90px;
        padding: 0 2.5px;
        opacity: .5;
        display: none;
        transition: opacity .4s ease;

        &.selected {
          opacity: 1;
          display: inline-block;
        }
      }

      &.show-all {
        .photo:not(.selected) {
          display: inline-block;
        }
      }
    }

    .music, .link, .movie {
      text-align: center;
      justify-content: center;
      display: flex;

      input {
        max-width: 30vw;
      }

      .title {
        text-align: right;
      }
    }

    .title, .by {
      max-width: 30vw;
    }

    .url {
      max-width: 40vw;
    }

    .movie input {
      max-width: 50vw;
    }

    .link {
      .text {
        padding: 5px 0px 1px 10px;
      }
    }

    $text-padding-left: 10px;
    .text {
      font-size: 15px;
      padding: 5px $text-padding-left 1px;
      color: $blue;
    }

    .other-wrapper {
      $other-prop-length: 400px;
      $other-prop-padding: 10px;
      $other-props-width: 2*$other-prop-length + 4*$other-prop-padding;
      $type-width: 120px;

      display: inline-block;
      padding: 5px 0;
      width: $other-props-width + $type-width;

      .other {
        display: flex;
      }

      .type-wrapper {
        flex: 0 0 $type-width;
        width: $type-width;
        background: $blue;
        color: white;
        position: relative;

        &.add {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            color: white;
            position: static;
            padding: 0;
            height: 18px;
          }
        }

        .type {
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          padding: 0;
          text-align: center;
        }

        .icon {
          position: absolute;
          top: -11px;
          right: -9px;
          color: black;
          padding: 0;

          &:hover {
            color: $blue-dark;
          }
        }
      }

      .other-props {
        display: block;
        width: $other-props-width;
        text-align: left;

        .other-prop {
          padding: $other-prop-padding/2 $other-prop-padding;
          width: $other-prop-length;
          display: inline-block;

          &.add .other-prop-wrapper {
            padding-left: $text-padding-left;
          }

          .other-prop-wrapper {
            display: flex;
          }

          .text {
            text-align: left;
            float: left;
            flex: 0 0 auto;
          }

          .normal {
            flex: 1 1 auto;

            &.new-key {
              flex: none;

              input {
                color: $blue;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }

  > .shadow {
    $shadow-grey: #f2f2f2;

    width: 100%;
    background-color: $shadow-grey;
    position: relative;
    bottom: -2px;
    height: 1px;
  }
}

.NumberCard {
  $number-height: 22px;

  @for $i from 0 through 9 {
    .number-card-#{$i} {
      bottom: $number-height*$i;
    }
  }

  .number-card {
    position: relative;
    transition: bottom .4s ease;
    width: 1ch;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    white-space: pre-wrap;
    float: right;
  }
}

.Image {
  position: relative;
  width: 100%;
  height: 100%;

  &.toggle {
    .image {
      &:first-child {
        opacity: 0;
        animation: fade-out-2 .4s ease;
      }

      &:last-child {
        opacity: 1;
        animation: fade-in-2 .4s ease;
      }
    }
  }

  .image {
    &:first-child {
      opacity: 0;
      animation: fade-out .4s ease;
    }

    &:last-child {
      opacity: 1;
      animation: fade-in .4s ease;
    }
  }

  .stretch {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.EntryView {
  $timeline-width: 70px;
  $timeline-dot-radius: 5px;
  $timeline-dot-radius-small: 3px;
  $article-margin: 30px;
  $article-width: 30%;
  $detail-padding: 25px;
  $detail-height: 20px;
  $header-padding: 8px;

  height: 100%;
  width: 100%;
  position: relative;
  background: white;

  article {
    transition: top .4s ease;
    animation: fade-in .4s ease;

    color: transparent !important;

    * {
      color: inherit !important;
    }

    &:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 0;
      background: $css;
      transition: width .4s ease;
    }
  }

  &.bulb-only, &.article-only {
    .timeline-wrapper {
      display: none;
    }

    .entries article {
      &:before, &:after {
        display: none;
      }
    }
  }

  &.article-only {
    .article-list {
      max-width: 50vw;
      flex: 1 1 auto;
    }

    .bulb-list {
      display: none;
    }
  }

  .entries {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .time {
    font-size: 12px;
    text-align: center;
  }

  .details {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .timeline-wrapper {
    flex: 0 0 $timeline-width;
    position: relative;
    height: 100%;

    .timeline {
      $timeline-width-actual: 2px;

      background: #e3e3e3;
      width: $timeline-width-actual;
      position: absolute;
      left: calc(50% - #{$timeline-width-actual/2});
    }
  }

  @mixin article-after($radius) {
    content: "";
    position: absolute;
    border-radius: $radius;
    height: $radius * 2;
    width: $radius * 2;
    bottom: 0;
    background: $css;
    box-shadow: 0 0 2px 3px white;
    z-index: 1;
    transition: background .2s ease, box-shadow .2s ease;
  }

  @mixin article-hover-after($radius) {
    @include article-after($radius);

    background: white;
    box-shadow: 0 0 2px 2px $css;
  }

  .bulb-image-viewer {
    position: absolute;
    width: calc(#{$article-width} + #{$timeline-width/2} - #{$timeline-dot-radius});
    max-width: 530px;
    top: 0;
    height: 100%;
    z-index: 10;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity .4s ease;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }

    .nav {
      z-index: inherit;
    }

    .bulb-image-viewer-wrapper {
      background: white;
      height: 100%;
      width: calc(100% - 30px);
      margin: auto;
      position: relative;
      overflow: hidden;
    }
  }

  .article-list {
    flex: 0 0 30%;
    max-width: 500px;
    position: relative;

    .Image {
      position: absolute;
      pointer-events: none;
    }

    article {
      margin: 0 0 $article-margin $article-margin;
      width: calc(100% - #{$article-margin});
      height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      transition: box-shadow .4s ease;
      cursor: pointer;

      &:before {
        right: -$timeline-width / 2;
        bottom: $timeline-dot-radius;
        background: $css;
      }

      &:after {
        @include article-after($timeline-dot-radius);

        right: -$timeline-width / 2 - $timeline-dot-radius;
      }

      &:hover {
        box-shadow: 3px 2px 9px grey;

        &:before {
          width: $timeline-width / 2;
        }

        &:after {
          @include article-hover-after($timeline-dot-radius);

          right: -$timeline-width / 2 - $timeline-dot-radius;
        }
      }

      &.no-image {
        height: 105px;
        background: $darkgrey;

        .title {
          transition: width .4s ease;
          padding-bottom: 5px;
        }

        .Image {
          display: none;
        }

        &:hover {
          .title {
            width: calc(100% - #{$button-width});
          }

          .btn {
            opacity: 1;
          }
        }
      }

      .text {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        width: 100%;
        transition: opacity .4s ease;
      }

      .btn {
        float: right;
        opacity: 0;
      }

      header {
        padding-top: $header-padding;
        background: $darkgrey;

        .title {
          width: 100%;
          text-align: center;
          font-size: 25px;
          color: white;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .time {
          color: $css;
          padding-top: 5px;
        }
      }

      .details {
        color: white;
        font-size: 14px;
        width: calc(100% - #{$detail-padding*2});
        background: $darkgrey;
        padding: 10px $detail-padding;
        height: $detail-height;
      }

      &:not(.no-image):hover {
        .text {
          opacity: 0;
        }

        .btn {
          opacity: 1;
        }
      }
    }
  }

  .bulb-list {
    $padding: 4px;

    flex: 1 0 50%;
    position: relative;

    article {
      $article-height: 27px;

      font-size: 16px;
      font-weight: normal;
      display: flex;
      margin-bottom: 5px;
      width: 100%;
      position: absolute;

      &:before {
        left: -$timeline-width / 2;
        background: $css;
        top: $article-height / 2 + $timeline-dot-radius-small;
      }

      &:after {
        @include article-after($timeline-dot-radius-small);

        background: $csl;
        left: -$timeline-width / 2 - $timeline-dot-radius-small;
        top: $article-height / 2; //- $timeline-dot-radius-small;
      }

      &:hover, &.active {
        height: auto;
        z-index: 5;
        background-color: white;
        box-shadow: 0 0 3px 3px white;

        header {
          background: $css;
        }

        .details {
          overflow: visible;
          white-space: normal;
        }

        &:before {
          width: $timeline-width / 2;
        }

        &:after {
          @include article-hover-after($timeline-dot-radius-small);

          left: -$timeline-width / 2 - $timeline-dot-radius-small;
          top: $article-height / 2; //- $timeline-dot-radius-small;
        }
      }
    }

    header {
      flex: 0 0 80px;
      text-align: center;
      padding: 6px 10px;
      background: $darkgrey;
      color: white;
      transition: background .4s ease, color .4s ease;
    }

    .details {
      margin: $padding 2*$padding;
      background: white;
    }

    .image {
      position: absolute;
      right: calc(100% + #{$timeline-width});

    }
  }
}

.MainContent {
  height: 100%;
  width: 100%;
  display: flex;

  .sidebar {
    $sidebar-width: 250px;
    $create-btn-margin: 40px;

    flex: 0 0 auto;
    width: $sidebar-width;
    background: $darkgrey;
    overflow: hidden;

    .create-btn {

      width: $sidebar-width - 2*$create-btn-margin;

      .btn {
        margin: $create-btn-margin $create-btn-margin $create-btn-margin/2;
        width: 100%;
      }
    }

    .other-btn {
      padding-top: $create-btn-margin/2;
    }

    .btn {
      height: 60px;
      width: $sidebar-width;

      &.active {
        background: white;
        color: $darkgrey;
      }

      &.indent {
        padding-left: 30px;

        &.active {
          background: $darkgrey-l;
          color: white;
        }
      }

      &.disabled {
        opacity: .3;
        pointer-events: none;
      }

      .icon-wrapper {
        flex: 0 0 70px;
      }
    }
  }

  > main {
    flex: 1 1 auto;
    position: relative;

    .inner-main {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    .main-header {
      width: 100%;
      flex: 0 0 $main-header-height;
      position: relative;
      background: $darkgrey;
    }

    .content {
      width: 100%;
      flex: 1 1 auto;
      display: flex;
      position: relative;
    }

    .list-view {
      $calendar-padding-height: 120px;

      .calendar-view {
        flex: 1 0 250px;
        display: flex;
        flex-direction: column;

        .calendar-padding {
          height: $calendar-padding-height;
          flex: 0 0 $calendar-padding-height;
          width: 100%;
          background: white;
        }

        .calendar-parent {
          background: $darkgrey-l;
          position: relative;
          flex: 1 1 auto;
        }
      }

      .bulb-map-view {
        flex: 1 0 50%;
        height: 100%;
      }

      .Calendar {
        background: $darkgrey;
      }

      .EntryView {
        flex: 1 1 auto;
      }
    }

    .inner-content {
      display: flex;
      background: $darkgrey;
    }
  }
}

.SearchBar {
  $max-width: 900px;

  height: 100%;
  width: 100%;
  max-width: $max-width;
  position: relative;

  .search-bar-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .advanced-search {
    top: $main-header-height;
  }

  .btn.text, .toggle {
    flex: 0 0 auto;
  }

  .btn.text {
    width: 150px;
  }

  .keyword {
    border-radius: 2px;
    flex: 1 1 auto;
    font-size: 20px;
    padding: 10px;
    margin-left: 50px;
    transition: .4s ease;

    &[disabled] {
      background: $darkgrey;
      color: white;

    }
  }

  .form {
    position: absolute;
    width: 100%;
    max-width: $max-width;
    padding: 15px 0 20px;
    z-index: 9999;
    left: 0;
    background: white;

    .form-wrapper {
      width: 100%;
      max-width: 900px;
      margin: auto;
    }

    .form-col {
      display: flex;
      padding: 0 50px;
      margin-top: 5px;

      .title {
        padding: 0 20px;
        background: $darkgrey;
        color: white;
        margin-right: 5px;
      }
    }
  }
}

.Options {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;

  &.text {
    .icon-wrapper {
      display: none;
    }

    .text-wrapper {
      text-align: center;
    }

    .option {
      flex: 0 1 100px;
    }
  }

  .option {
    @extend .btn;
    flex: 0 1 150px;
    display: flex;

    &.selected {
      background: $cp;
      color: white;

      &:hover {
        color: white;
      }
    }

    .btn-text {
      pointer-events: none;
    }

    .icon-wrapper {
      flex: 0 1 $button-width;
      margin-right: -$button-width/2;
    }

    .text-wrapper {
      flex: 1 1 auto;
      display: block;
    }
  }
}

.Chart {
  box-sizing: border-box;
  padding: 5% 5%;

  .table-header-out {
    box-sizing: content-box;
    margin-right: 20px;
  }

  .table-header {
    width: 100%;
  }

  .row-data, .row-header {
    height: 50px;
    background: $cs1;

    &:nth-child(odd) {
      background: $cs0;
    }
  }

  .row-header .cell-data {
    background: $darkgrey;
    color: white;
  }

  .cell-blank {
    background: white;
  }

  .cell-keyword {
    background: $cp;
    color: white;
    text-align: center;
  }

  .cell-data {
    width: 5em;
    text-align: center;
  }
}