$scroll-bar-padding: 20px;

.no-scroll {
  $background-color: white;

  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &.horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 20px;

    &:before, &:after {
      height: 100%;
      width: $scroll-bar-padding;
    }

    &:before {
      background: linear-gradient(to right, $background-color 0, transparent 100%);
      left: 0;
    }

    &:after {
      background: linear-gradient(to left, $background-color 0, transparent 100%);
      right: 0;
    }

    .wrapper {
      bottom: 0px;
      height: $scroll-bar-padding;
      width: 100%;
    }

    > * {
      margin-left: 0;
    }

    > *:first-child {
      margin-left: $scroll-bar-padding;
    }

    > *:last-child {
      margin-right: $scroll-bar-padding;
    }
  }

  .before, .after {
    display: block;
    position: absolute;
    width: 100%;
    height: $scroll-bar-padding;
    content: "";
    left: 0;
    pointer-events: none;
    z-index: 100;
  }

  .before {
    top: 0;
  }

  .after {
    bottom: 0;
  }

  .wrapper {
    position: absolute;
    right: 0;
    height: 100%;
    width: $scroll-bar-padding;
    background: white;
  }

  .no-scroll-wrapper {
    padding-right: 20px;
    width: 100%;
    height: 100%;
  }
}
