.PredictionInput {
  position: relative;

  .prediction {
    color: lightgrey;
    font-size: inherit;
    position: absolute;
  }

  .input {
    background: transparent;
    font-size: inherit;
    display: inline-block;
    height: 100%;
    padding: 0;
    width: 100%;
  }
}