@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://fonts.googleapis.com/css?family=Lato";
@import "http://fonts.googleapis.com/earlyaccess/notosanssc.css";
*:not(i) {
  font-family: "Lato", "Noto Sans CJK SC", "Noto Sans SC", sans-serif; }

input:disabled, textarea:disabled {
  color: black;
  background-color: inherit; }

.vertical-align .vertical-align-wrapper {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

.shadow {
  box-shadow: 3px 2px 9px grey; }

.shadow-light {
  box-shadow: 1px 1px 4px grey; }

.normal, .normal input {
  background: white;
  font-size: 16px;
  display: block;
  height: 20px;
  padding: 0;
  position: relative; }
  .normal.underlined, .normal.underlined input, .normal input.underlined, .normal input.underlined input {
    border-bottom: 1px solid grey !important;
    transition: border-bottom .4s ease; }
    .normal.underlined:focus, .normal.underlined:active, .normal.underlined input:focus, .normal.underlined input:active, .normal input.underlined:focus, .normal input.underlined:active, .normal input.underlined input:focus, .normal input.underlined input:active {
      border-bottom: 1px solid #448AFF !important; }
  .normal.disabled, .normal:disabled, .normal input.disabled, .normal input:disabled {
    border-bottom-color: transparent !important; }

.hidden {
  display: none !important; }

.transparent {
  opacity: 0;
  pointer-events: none !important; }

.flex {
  display: flex; }
  .flex.column {
    flex-direction: column; }

.flex-last-item {
  width: 100%; }

.flex-extend-inner-wrapper {
  position: absolute;
  height: 100%;
  width: 100%; }

img.center {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.btn {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  height: 50px;
  width: 60px;
  font-weight: lighter;
  text-align: center;
  transition: .4s ease; }
  .btn.dark {
    background: #212121;
    color: white; }
  .btn:after {
    pointer-events: none;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    transition: background .4s ease; }
  .btn.underlined:after {
    background: black; }
  .btn.underlined.active:after, .btn.underlined:hover:after {
    background: #448AFF; }
  .btn.active, .btn:hover {
    color: #448AFF; }
  .btn:not(.underlined):hover .add-circle {
    opacity: 1; }
  .btn:not(.underlined):hover .original {
    opacity: 0; }
  .btn:not(.accent):hover, .btn:not(.accent):active {
    color: #1976D2; }
    .btn:not(.accent):hover span, .btn:not(.accent):active span {
      opacity: 1; }

/*# sourceMappingURL=base.css.map */
